<div [class.item-selector-grid]="!viewMode">
    <div *ngIf="!viewMode" class="card-collapse">
        <div class="header" aria-controls="info-desc">
            Danh sách {{type?.text.toLowerCase()}} liên quan</div>
        <div class="body">
            <div class="p-3">
                <div class="list-customer-grid">
                    <div class="d-flex align-items-center">
                        Tìm kiếm theo
                    </div>
                    <div>
                        <input class="form-control" placeholder="Tên khách hàng, số điện thoại, email"
                            [value]="searchTerm$.value" (keyup)="searchTerm$.next($event.target.value)">
                    </div>
                </div>
                <div class="list-customer-grid-4 mt-2">
                    <div class="d-flex align-items-center" *ngIf="this.type && this.type.id.toString() === 'Customer'">

                    </div>
                    <div class="d-flex align-items-center justify-content-center"
                        *ngIf="this.type && this.type.id.toString() === 'Contact'"></div>
                    <div *ngIf="this.type && this.type.id.toString() === 'Contact'">
                        <div>Người/nhóm phụ trách</div>
                        <span class="custom-dropdown w-100">
                            <select class="form-control" [(ngModel)]="contactFilterModel.assignedEmployeeId">
                                <option [ngValue]="null">--Lựa chọn--</option>
                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhân viên</option>
                                <option *ngFor="let item of employeeList | async" [ngValue]="'employee_' + item.id">
                                    {{item.text}}</option>
                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhóm</option>
                                <option *ngFor="let item of employeeGroupList | async" [ngValue]="'group_' + item.id">
                                    {{item.text}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="this.type && this.type.id.toString() === 'Contact'"></div>
                    <div *ngIf="this.type && this.type.id.toString() === 'Contact'">
                        <div>Khách hàng</div>
                        <span class="custom-dropdown w-100">
                            <p-autoComplete [(ngModel)]="contactFilterModel.customerId"
                                [suggestions]="customersSearchResults" [forceSelection]="true" [delay]="'400'"
                                [emptyMessage]="'Không có dữ liệu'" placeholder="Tìm theo tên"
                                inputStyleClass="custom-autocomplete" [immutable]="true" [dropdown]="true"
                                (completeMethod)="searchCustomers($event.query)" [tabindex]="'2'" field="text"
                                dataKey="id" #customerList>
                            </p-autoComplete>
                        </span>
                    </div>
                </div>
                <div class="list-customer-grid-4 mt-2" *ngIf="this.type && this.type.id.toString() === 'Customer'">
                    <div class="d-flex align-items-center">
                    </div>
                    <div>
                        <div>Người/nhóm phụ trách</div>
                        <span class="custom-dropdown w-100">
                            <select class="form-control" [(ngModel)]="filterModel.assignedEmployeeId">
                                <option [ngValue]="null">--Lựa chọn--</option>
                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhân viên</option>
                                <option *ngFor="let item of employeeList | async" [ngValue]="'employee_' + item.id">
                                    {{item.text}}</option>
                                <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhóm</option>
                                <option *ngFor="let item of employeeGroupList | async" [ngValue]="'group_' + item.id">
                                    {{item.text}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="d-flex align-items-center">

                    </div>
                    <div class="group-btn-filter">
                        <button (click)="filter()" class="btn btn-primary ml-sm-2">
                            <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
                        </button>
                        <button (click)="clearFilter()" class="btn btn-secondary ml-sm-2">
                            <i class="fa fa-times"></i>&nbsp; Xóa lọc
                        </button>
                    </div>
                </div>
                <div class="list-customer-grid-4 mt-2" *ngIf="this.type && this.type.id.toString() === 'Prospect'">
                    <div class="d-flex align-items-center">

                    </div>
                    <div>
                        <div>Đánh giá</div>
                        <span class="custom-dropdown w-100">
                            <select class="form-control" [(ngModel)]="prospectFilterModel.rate">
                                <option [ngValue]="null">--Lựa chọn--</option>
                                <option *ngFor="let item of evaluationList | async" [value]="item.value">{{item.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="d-flex align-items-center">

                    </div>
                    <div>
                        <div>Nguồn tiềm năng</div>
                        <span class="custom-dropdown w-100">
                            <select class="form-control" [(ngModel)]="prospectFilterModel.prospectSource">
                                <option [ngValue]="null">--Lựa chọn--</option>
                                <option *ngFor="let item of prospectSourceList | async" [value]="item.id">{{item.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="list-customer-grid-4 mt-2" *ngIf="this.type && this.type.id.toString() !== 'Customer'">
                    <div class="d-flex align-items-center">
                    </div>
                    <div>
                    </div>
                    <div></div>
                    <div class="group-btn-filter">
                        <button (click)="filter()" class="btn btn-primary ml-sm-2">
                            <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
                        </button>
                        <button (click)="clearFilter()" class="btn btn-secondary ml-sm-2">
                            <i class="fa fa-times"></i>&nbsp; Xóa lọc
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <table class="w-100 table table-bordered table-customer-related">
                    <thead>
                        <tr>
                            <th class="text-center col-cb">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]=checkboxSeclectAllleft
                                            (change)="onSelectAllleft($event.target.checked)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </th>
                            <th class="col-idx">STT</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of listCustomerRelated.items;let i = index">
                            <td class="text-center">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <label class="custom-control custom-checkbox" *ngIf="c.transfered">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="c.checkboxSelected" disabled>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                    <label class="custom-control custom-checkbox" *ngIf="!c.transfered">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="c.checkboxSelected">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </td>
                            <td [class.text-linethrough]="c.transfered">
                                <div class="text-center">{{i + listCustomerRelated.currentPage *
                                  listCustomerRelated.pageSize + 1}}</div>
                            </td>
                            <td [class.text-linethrough]="c.transfered">
                                <div *ngIf="c.customerName">Họ tên: {{c.customerName}}</div>
                                <div *ngIf="c.fullName">Họ tên: {{c.fullName}}</div>
                                <div *ngIf="c.name">Họ tên: {{c.name}}</div>
                                <div *ngIf="c.customerPhone">SĐT: {{c.customerPhone}}</div>
                                <!-- <div *ngIf="c.mobilePhone">SĐT: {{c.mobilePhone}}</div> -->
                                <div *ngIf="c.email">Email: {{c.email}}</div>
                                <div *ngIf="c.customerCategories">V/trò với HBC: {{c.customerCategories | translate}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center"
                    *ngIf="listCustomerRelated && listCustomerRelated.items && listCustomerRelated.items.length == 0">
                    Không
                    có dữ liệu</div>
                <app-pagination [(pagedResult)]="listCustomerRelated" [hidePageSizeList]="true"
                    (pagedResultChange)="pagedResultChange($event)"></app-pagination>
                <!-- <ngx-loading [show]="loading" *ngIf="!(listCustomerRelated && listCustomerRelated.items && listCustomerRelated.items.length == 0)"></ngx-loading> -->
            </div>

        </div>
    </div>
    <div *ngIf="!viewMode" class="position-relative">
        <div class="group-btn-center-midle">
            <div class="text-center">
                <i class="fa fa-2x fa-angle-double-right pointer" (click)="transferData()" aria-hidden="true"></i>
            </div>
            <div class="text-center">
                <i class="fa fa-2x fa-angle-double-left mt-2 pointer" (click)="transferDataBack()"
                    aria-hidden="true"></i>
            </div>
            <div class="text-center">
                <i class="fa fa-2x fa-refresh mt-2 pointer" (click)="btnrefersh()" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    <div class="card-collapse">
        <div class="header" aria-controls="info-desc">
            Danh sách {{type?.text.toLowerCase()}} tham dự </div>
        <div class="body">
            <ng-container *ngIf="!viewMode">
                <div class="p-3">
                    <div class="list-customer-grid">
                        <div class="d-flex align-items-center">
                            Tìm kiếm theo
                        </div>
                        <div>
                            <input class="form-control" placeholder="Tên khách hàng, số điện thoại, email"
                                [value]="searchTermJointActivity$.value"
                                (keyup)="searchTermJointActivity$.next($event.target.value)">
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="p-2">
                <table class="w-100 table table-bordered table-customer-related">
                    <thead>
                        <tr>
                            <th class="text-center col-cb" *ngIf="!viewMode">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="checkboxSeclectAllright"
                                            (change)="onSelectAllright($event.target.checked)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </th>
                            <th class="col-idx">STT</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of listCustomerSelectedFilter.items;let i = index">
                            <td class="text-center" *ngIf="!viewMode">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="c.checkboxSelected">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <p class="text-center">{{i + listCustomerSelectedFilter.currentPage *
                                  listCustomerSelectedFilter.pageSize + 1}}</p>
                            </td>
                            <td>
                                <div *ngIf="c.customerName">Họ tên: {{c.customerName}}</div>
                                <div *ngIf="c.fullName">Họ tên: {{c.fullName}}</div>
                                <div *ngIf="c.name">Họ tên: {{c.name}}</div>
                                <div *ngIf="c.customerPhone && c.customerPhone !== 'null'">SĐT: {{c.customerPhone}}
                                </div>
                                <div *ngIf="c.mobilePhone">SĐT: {{c.mobilePhone}}</div>
                                <div *ngIf="c.cellularPhone">SĐT: {{c.cellularPhone}}</div>
                                <div *ngIf="c.tel1">SĐT: {{c.tel1}}</div>
                                <!-- <div *ngIf="c.phoneNumberCustomer">SĐT: {{c.phoneNumberCustomer}}</div> -->
                                <div *ngIf="c.email && c.email !== 'null'">Email: {{c.email}}</div>
                                <div *ngIf="c.customerCategories">V/trò với HBC: {{c.customerCategories | translate}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center"
                    *ngIf="listCustomerSelectedFilter && listCustomerSelectedFilter.items && listCustomerSelectedFilter.items.length == 0">
                    Không
                    có dữ liệu</div>
            </div>
        </div>
    </div>
</div>