.card {
    padding: 15px;
}

.revenue-title {
    margin-top: 11px;
}

.title-color {
    color: #346699;
}

.calendarInput{
    width: 170px;
    margin-left: 10px !important;
}

.link-custom {
    text-decoration: underline;
    color: #17a2b8;
    cursor: pointer;
}