<div *ngIf="isCampaignViewCampaignDetail || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
    <div [@routerTransition] *ngIf="campaign$ | async as campaign">
        <div class="card-collapse">
            <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Chi tiết chiến dịch</div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mã chiến dịch</td>
                            <td class="w-25">{{campaign.campaignNo || 'Không có' }}</td>

                            <td class="w-25 bg-light text-right label">Ngày bắt đầu</td>
                            <td class="w-25">{{(campaign.campaignDateStart | date: 'dd/MM/yyyy') || 'Không có' }}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Tên chiến dịch</td>
                            <td class="w-25">{{campaign.name}}</td>

                            <td class="w-25 bg-light text-right label">Ngày xong dự kiến</td>
                            <td class="w-25">{{(campaign.campaignDateStop | date: 'dd/MM/yyyy') || 'Không có' }}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Trạng thái chiến dịch</td>
                            <td class="w-25">
                                <div class="mark-status" [class.status-plan]='campaign.status=="IsPlanning_Campaign"'
                                    [class.status-inprogess]='campaign.status=="Proceed_Campaign"'
                                    [class.status-complete]='campaign.status=="Finish_Campaign"'
                                    [class.status-cancel]='campaign.status=="Cancel"'
                                    [class.status-pending]='campaign.status=="DoNotProceed"'
                                    [class.status-null]='!campaign.status'>
                                    {{ (campaign.status | translate) || 'Không có' }}
                                </div>
                            </td>

                            <td class="w-25 bg-light text-right label">Nhà tài trợ</td>
                            <td class="w-25">{{campaign.donors || 'Không có' }}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Loại chiến dịch</td>
                            <td class="w-25">{{categorySettingItem?.text || 'Không có' }}</td>

                            <td class="w-25 bg-light text-right label">Mục tiêu chiến dịch</td>
                            <td class="w-25">{{campaign.target || 'Không có' }}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Đối tượng tiếp thị</td>
                            <td class="w-25">{{campaign.marketingObject || 'Không có' }}</td>

                            <td class="w-25 bg-light text-right label">KPI</td>
                            <td class="w-25">
                                {{(campaign.numberOfParticipants && campaign.numberOfParticipants + '%') || 'Không có' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Nguồn chiến dịch</td>
                            <td class="w-25">{{ campaign.approachChannelStr || 'Không có' }}</td>
                            <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                            <td class="w-25">{{campaign.assignToGroup && campaign.assignToGroup.name || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Thời gian tạo</td>
                            <td class="w-25">{{(campaign.createdDate | date: 'dd/MM/yyyy HH:mm') || 'Không có' }}</td>
                            <td class="w-25 bg-light text-right label">Người phụ trách</td>
                            <td class="w-25">{{campaign.assignTo && campaign.assignTo.name || 'Không có'}}</td>
                        </tr>
                        <tr *ngIf="campaign.createdDate != campaign.updatedDate">
                            <td class="w-25 bg-light text-right label"><span>Thời gian sửa đổi</span></td>
                            <td class="w-25"><span>{{(campaign.updatedDate | date: 'dd/MM/yyyy HH:mm') || 'Không có' }}</span></td>
                            <td class="w-25 bg-light text-right label"></td>
                            <td class="w-25"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress"
                [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Chi tiết dự kiến và thực tế</div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsedAddress">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Ngân sách</td>
                            <td class="w-25">{{campaign.budget ? (campaign.budget | vnCurrency) : 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label">Chi phí thực tế</td>
                            <td class="w-25">{{campaign.actualCost ? (campaign.actualCost | vnCurrency) : 'Không có'}}
                                <span *ngIf="campaign.budget && campaign.actualCost">
                                    <strong>({{(campaign.actualCost/campaign.budget * 100).toFixed(2)}}%)</strong></span>
                            </td>
                        </tr>
                        <tr>

                            <td class="w-25 bg-light text-right label">Hiệu quả đầu tư dự kiến</td>
                            <td class="w-25">
                                {{campaign.expectedInvestmentEfficiency ? (campaign.expectedInvestmentEfficiency | vnCurrency) : 'Không có'}}
                            </td>
                            <td class="w-25 bg-light text-right label">Hiệu quả đầu tư thực tế</td>
                            <td class="w-25">
                                {{campaign.actualInvestmentEfficiency ? (campaign.actualInvestmentEfficiency | vnCurrency) : 'Không có'}}
                                <span
                                    *ngIf="campaign.expectedInvestmentEfficiency && campaign.actualInvestmentEfficiency">
                                    <strong>({{(campaign.actualInvestmentEfficiency/campaign.expectedInvestmentEfficiency * 100).toFixed(2)}}%)</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Doanh thu dự kiến</td>
                            <td class="w-25">
                                {{campaign.expectedRevenue ? (campaign.expectedRevenue | vnCurrency) : 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label">Doanh thu thực tế</td>
                            <td class="w-25">
                                {{campaign.actualRevenue ? (campaign.actualRevenue | vnCurrency) : 'Không có'}}
                                <span *ngIf="campaign.expectedRevenue && campaign.actualRevenue">
                                    <strong>({{(campaign.actualRevenue/campaign.expectedRevenue * 100).toFixed(2)}}%)</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
                aria-controls="info-desc">
                <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
            <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mô tả</td>
                            <td class="w-75">{{campaign.description || 'Không có'}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <app-comments [moduleName]="'campaign'" [moduleItemId]="campaign.id" [viewMode]="'partial'">
                </app-comments>
            </div>
            <div class="col-lg-6 col-sm-6">
                <app-audits [moduleName]="'campaign'" [moduleItemId]="campaign.id"></app-audits>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isCampaignViewCampaignDetail && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">
    <p class="text-center">Bạn không có quyền xem dữ liệu này</p>
</div>
<!-- <ngx-loading [show]="loading"></ngx-loading> -->