.action-bar{
    vertical-align: middle;
}

.mark-status {
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: auto;
    text-align: center;
}

.status-plan {
    background-color: #0f7ac3;
}

.status-inprogess {
    background-color: #fdce2c;
}

.status-complete {
    background-color: #269a36;
}

.status-cancel {
    background-color: #a1a1a1;
}

.status-pending {
    background-color: #df356e;
}
.status-null{
    color: black;
    margin-right: 0;
    padding-left: 0;
    text-align: left;
}