:host /deep/ {
    .ui-autocomplete-multiple-container {
        max-width: 100% !important;
    }
    @media screen and (min-width: 1500px) and (max-width: 1536px) {
        .ui-corner-all{
            max-width: 10rem;
        }
        .ui-autocomplete-token-label{       
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        .customer{
            max-width: 84.5%;
        }
    }
    @media screen and (min-width: 1420px) and (max-width: 1499px) {
        .ui-corner-all{
            max-width: 9rem;
        }
        .ui-autocomplete-token-label{       
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        .customer{
            max-width: 83.5%;
        }
    }
    @media screen and (min-width: 1366px) and (max-width: 1419px) {
        .ui-corner-all{
            max-width: 8rem;
        }
        .ui-autocomplete-token-label{       
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        .customer{
            max-width: 82%;
        }
    }
    @media screen and (max-width: 1365px) {
        .ui-corner-all{
            max-width: 7rem;
        }
        .ui-autocomplete-token-label{       
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }
  
}

.avatar-photo {
    position: relative;
    background: #fff;
//   border: 1px solid #DAE5EC;
    width: 120px;
   img {
    //    height: 120px;
       width: 120px;
                  }
                  #upload-photo {
                      opacity: 0;
                      position: absolute;
                      z-index: -1;
                      display: none;
                  }
              }
      
  .user-info__photo {
    //  margin-bottom: 1.5em;
      img {
          opacity: 1;
      }
  }
  
  .user-info__photo-remove-btn {
      cursor: pointer;
      display: none;
      z-index: 2;
      position: absolute;
      top: 11px;
      right: 11px;
      background-color: rgba(0, 0, 0, .3);
      .user-info__photo:hover & {
          display: block;
      }
      a {
          display: block;
          padding: .15em .3em;
      }
      .icon {
          color: #fff;
      }
      .icon:before {
          font-size: 12px;
      }
  }
  
  .user-info__photo-change-btn {
      position: absolute;
      bottom: 0px;
      width: 120px;
      height: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, .4);
      -webkit-transition: height .1s;
      /* For Safari 3.1 to 6.0 */
      transition: height .1s;
      .user-info__photo:hover & {
          height: 40px;
      }
      a {
          display: block;
          padding-bottom: 7px;
          color: #fff;
          text-decoration: none;
      }
      label {
          width: 120px;
          margin: 0 auto;
          margin-top: 10px;
          cursor: pointer;
      }
      .icon {
          margin-right: 1em;
          color: #fff;
      }
  
  }
  