.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 20px;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: auto;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
   // width: 90%;
    padding-left: 40px; //chu y 1
    margin-left: 60px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    padding: 15px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    
  }
.timeline-panel:hover{
  background-color:  #f8f9fa;
  cursor: pointer;
}

  
  // .timeline > li > .timeline-panel:before {
  //   position: absolute;
  //   top: 26px;
  //   right: -15px;
  //   display: inline-block;
  //   border-top: 15px solid transparent;
  //   border-left: 15px  solid #d4d4d4 ;
  //   border-right: 0 solid #d4d4d4 ;
  //   border-bottom: 15px solid transparent;
  //   content: " ";
  // }
  
  // .timeline > li > .timeline-panel:after {
  //   position: absolute;
  //   top: 27px;
  //   right: -14px;
  //   display: inline-block;
  //   border-top: 14px solid transparent;
  //   border-left: 14px solid #fff;
  //   border-right: 0 solid #fff;
  //   border-bottom: 14px solid transparent;
  //   content: " ";
  // }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 20px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    padding-bottom: 0;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.audit {
    background-color: #17a2b8 !important;
  }
  
  .timeline-badge.success {
    background-color: #17a2b8 !important;
  }
  
  .timeline-badge.warning {
    background-color: #17a2b8 !important;
  }
  
  .timeline-badge.danger {
    background-color: #17a2b8 !important;
  }
  
  .timeline-badge.info {
    background-color: #17a2b8 !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

  ul{
    margin-bottom: auto;
  }