<div [@routerTransition]>
    <div class="card form-group">
        <h6>
            <strong class="title-color">THÔNG TIN KHÁCH HÀNG</strong>
        </h6>
        <div class="row form-group">
            <div class="col-md-4 border-right">
                <p>
                    <strong>Mã khách hàng:</strong> {{currentCustomer.number}}
                </p>
                <p>
                    <strong>Tên khách hàng:</strong> {{currentCustomer.name}}
                </p>
                <p>
                    <strong>Mô tả:</strong> {{currentCustomer.desc}}
                </p>
                <p>
                    <strong>Địa chỉ:</strong> {{currentCustomer.address}}
                </p>
            </div>
            <div class="col-md-4 border-right">
                <p>
                    <strong>Loại khách hàng:</strong> {{currentCustomer.customerType === 'Personal' ? 'Cá nhân' : 'Công ty'}}
                </p>
                <p>
                    <strong>Nhóm khách hàng:</strong> {{currentCustomer.customerGroup}}
                </p>
                <p>
                    <strong>Tình trạng:</strong> {{currentCustomer.check ? 'Hoạt động' : 'Không hoạt động'}}
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Hạn mức tín dụng:</strong> {{currentCustomer.creditLimit | vnCurrency}}
                </p>
                <p>
                    <strong>Công nợ:</strong> {{currentCustomer.owing | vnCurrency}}
                </p>
                <p>
                    <strong>Tín dụng còn lại:</strong> {{currentCustomer.creditLimit - currentCustomer.owing | vnCurrency}}
                </p>
                <p class="text-center" [routerLink]="['/revenue/detail', currentCustomer.id]">
                    <span class="link-custom">Xem công nợ >></span>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <h6>
            <strong class="title-color">DANH SÁCH PHIẾU GIAO</strong>
        </h6>
        <div class="d-flex search-bar form-group">
            <strong class="search-bar__title">Tìm kiếm theo:</strong>
            <div>
                <label class="form-label">Sản phẩm</label>
                <span class="custom-dropdown mx-sm-4">
                    <select class="form-control" [(ngModel)]="productFilter" (change)="filterDeliveryReceipt()">
                        <option value="">--Lựa chọn--</option>
                        <option *ngFor="let p of products" [value]="p.id">{{p.text}}</option>
                    </select>
                </span>
            </div>
            <div>
                <label class="form-label">Tình trạng</label>
                <span class="custom-dropdown mx-sm-4">
                    <select class="form-control" [(ngModel)]="statusFilter" (change)="filterDeliveryReceipt()">
                        <option value="">--Lựa chọn--</option>
                        <option *ngFor="let i of invoiceStatusList" [value]="i.id">{{i.text}}</option>
                    </select>
                </span>
            </div>
            <!-- <div class="btn-group"> -->
            <div class="input-group custom-search">
                <!-- <span class="input-group-addon">Tìm kiếm theo</span> -->
                <input type="text" class="form-control" placeholder="Mã phiếu giao" (keyup)="filterDeliveryReceipt($event.target.value)">
            </div>
            <!-- </div> -->
        </div>
        <kendo-grid class="delivery-grid" [groupable]="true" [group]="groups" [data]="gridView" (groupChange)="groupChange($event)">
            <kendo-grid-column headerClass="col-hide" class="col-hide" field="invoiceNo" title="">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value">
                    {{value}}
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="115" field="productNo" title="Mã sản phẩm">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="200" field="productDesc" title="Mô tả">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="80" field="Category.CategoryName" title="ĐVT">
                <ng-template kendoGridCellTemplate>Tấn</ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="80" field="productQty" title="SL">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.productQty | vnNumber}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="productUnitPrice" title="Đơn giá">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.productUnitPrice | vnNumber}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="125" field="transferFeeAmount" title="Phí vận chuyển">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.transferFeeAmount | vnNumber}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="120" field="totalAmount" title="Thành tiền">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.totalAmount | vnNumber}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="productQtyCancel" title="SL đã hủy">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.productQtyCancel | vnNumber}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="invoiceStatus" title="Tình trạng">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="130" field="coordinatorReference" title="Mã điều phối">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <p class="link-custom" (click)="showDetailWindow(dataItem.coordinatorReference)">{{dataItem.coordinatorReference}}</p>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="Không có dữ liệu.">
            </kendo-grid-messages>
        </kendo-grid>
        <app-pagination [pagedResult]="deliveryReceiptPageData" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>
</div>
<kendo-window title="Tình trạng giao hàng" [width]="600" *ngIf="isShowDeliveryDetail" (close)="isShowDeliveryDetail = false">
    <div class="row form-group">
        <div class="col-md-6">
            <p>
                <strong>Mã điều phối:</strong> {{deliveryDetail.coordinatorNo}}
            </p>
            <p>
                <strong>Người điều phối:</strong> {{deliveryDetail.employeeName}}
            </p>
            <p class="text-nowrap">
                <strong>Phương tiện vận chuyển:</strong> {{deliveryDetail.vehicleNoPlate}}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>Ngày điều phối:</strong> {{deliveryDetail.coordinatorDateStr}}
            </p>
            <p>
                <strong>Tình trạng:</strong> {{deliveryDetail.coordinatorStatus}}
            </p>
        </div>
    </div>
    <kendo-grid class="delivery-detail-grid" [data]="deliveryDetailItems">
        <kendo-grid-column headerClass="grid-header-custom" width="50" field="Id" title="STT">
            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="115" field="productNo" title="Mã sản phẩm">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="120" field="productDesc" title="Mô tả">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="60" title="ĐVT">
            <ng-template kendoGridCellTemplate>Tấn</ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="90" field="productQty" title="SL cần giao">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="70" field="productSerialNo" title="Mã lô">
        </kendo-grid-column>
    </kendo-grid>
</kendo-window>
