<div class="card">
    <div class="card-body">

        <h5 class="mr-auto d-flex align-items-end">Các cập nhật</h5>
        <hr>
        <div *ngIf="viewAudit || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
            <div *ngIf="audits?.length; else emptyAudit">
                <div *ngFor="let audit of audits">
                    <div class="d-flex">
                        <p class="mr-auto">
                            <strong>{{audit.user}}</strong> {{audit.actionName}}
                        </p>
                        <span class="metadata">{{audit.date | fromNow}}</span>
                    </div>
                    <p class="change-item" *ngFor="let change of audit.valueChanges">
                            <em>&nbsp; * {{change.field | translate}}: từ
                                <strong *ngIf="(change.beforeValue === 'null') || (change.beforeValue === null)">Không có dữ liệu</strong>
                                <strong *ngIf="change.field != 'classify'">{{ (change.beforeValue == '' ? 'trống' : change.beforeValue ) | translate}}</strong>
                                <strong *ngIf="change.field == 'classify'">{{ change.beforeValue}}</strong> thành
                                <strong *ngIf="change.field != 'classify'">{{ (change.afterValue == '' ? 'trống' : change.afterValue ) | translate}}</strong>
                                <strong *ngIf="change.field == 'classify'">{{ change.afterValue }}</strong>
                                <strong *ngIf="(change.afterValue === 'null') || (change.afterValue === null)">Không có dữ liệu</strong>
                            </em>
                        </p>
                </div>
                <div class="text-center cursor-pointer mt-2">
                        <a class="text-primary" [routerLink]="['./../audit']">Xem tất cả </a>
                    </div>
            </div>
        </div>
        <div *ngIf="!viewAudit && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">
            <p class="text-center">Bạn không có quyền xem dữ liệu này</p>
        </div>
    </div>
</div>

<ng-template #emptyAudit>
    <div class="text-center">
        Chưa có cập nhật nào !
    </div>
</ng-template>