table.dataTable thead th,
table.dataTable tbody td {
    padding: 6px 8px !important;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #eaebeb !important;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #fafbfc !important;
}

table.dataTable {
    border-bottom: none !important;
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); //display: table;
    th {
        border-bottom: 1px solid #dddddd !important;
        background-color: #ebebeb;
    }
    td {
        // max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .th-mark-status,
    .td-mark-status {
        max-width: 140px !important;
    }
    .custom-control {
        margin-right: 0;
        padding-left: 1em;
        .custom-control-input {
            display: none;
        }
        .custom-control-indicator {
            top: 0.6em;
        }
    }
    .no-sort {
        background-image: none !important; // padding-right: 0 !important;
    }
    .table-selection {
        tr {
            th:first-child,
            td:first-child {
                max-width: 30px !important;
            }
        }
    }
    
    .table-action {
        a {
            cursor: pointer;
        }
        width: 120px;
    }
    a {
        cursor: pointer;
    }
}
