$primary: #17a2b8;

.fs-12 {
    font-size: 12px;
}

.w-10{
    width: 10%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}


.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.w-13{
    width: 33% !important;
}

.w-23{
    width: 67% !important;
}

.mt--3 {
    margin-top: -1rem;
}

.metadata{
    color: #72979d;
    font-style: italic;
    font-size: 95%;
}

.media {
    // padding: 5px 10px;
    &:last-child {
        border-bottom: none;
    }
}

.media-header {
    font-size: 180%;
    color: $primary;
}

.media-body {
    h5 {
        font-size: 13px;
        font-weight: 600;
    }
    .small {
        margin: 0;
    }
    .last {
        margin: 0;
    }
}

.card-collapse{
    @extend .card;
    margin-bottom: 1rem;

    .header{
        @extend .card-header;
        font-weight: 700;
    }

    .body{
        @extend .card-body;
        padding: 0;
    }

    .table{
        margin-bottom: 0 !important;
    }

    .label{
        color: #888894;
    }
}

.card{
    margin-bottom: 1rem;
}

.search-box {
    .input-group {
        width: auto;
        border-color: $primary;
        .input-group-addon {
            background: $primary;
            border-color: $primary;
            color: #fff;
        }
        .form-control {
            border-color: $primary;
        }
    }
}

.cursor-pointer{
    cursor: pointer;
}

.fontawesome-select {
    font-family: 'FontAwesome', 'Helvetica';
}

.center-parent {
    justify-content: center;
    align-items: center;
    display: flex;
}

