<div *ngIf="opportunity$ | async as opportunity">
    <div class="search-box d-flex">

        <div class="media mr-auto">
            <div class="media-header">
                <a [routerLink]='["/opportunity"]'>
                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                </a>
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>

            <div class="media-body ml-3">
                <p class="last">
                    <strong>{{opportunity.name}}</strong>
                </p>
                <span *ngIf="opportunity.customer || opportunity.prospectCustomer" class="small text-muted">Liên quan với -
                    <a *ngIf="opportunity.customer" [routerLink]="['/customer/detail', opportunity.customer.id]">
                        {{opportunity.customer.name}}
                    </a>
                    <a *ngIf="opportunity.prospectCustomer" [routerLink]="['/prospect/detail', opportunity.prospectCustomer.id]">
                        {{opportunity.prospectCustomer.name}}
                    </a>
                </span>

            </div>

        </div>

        <div class="action-bar">
            <a *ngIf="isOpportunityEditOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" [routerLink]="['/opportunity/edit', opportunity.id]">Sửa &nbsp;
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button *ngIf="isOpportunityDeleteOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" (click)="delete(opportunity.id)">Xóa &nbsp;
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary ml-2" (click)="refresh(opportunity.id)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>

    </div>
    <hr>

    <div class="row no-gutters">
        <div class="col-md-10 pr-3">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-2">
            <app-opportunity-menu></app-opportunity-menu>
        </div>
    </div>

</div>

<div *ngIf="isNotExist">
    <div class="alert alert-warning text-center" role="alert">
        Cơ hội không tồn tại hoặc đã bị xóa !
    </div>
</div>