<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-5 col-lg-4 col-sm-7 mt-5">
<!-- 
            <h1 class="pb-3">BYS CRM</h1> -->
            <form role="form" [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <img src="assets/images/favicon.png" class="img-logo">
                <app-list-errors [errorCode]="apiErrorCode"></app-list-errors>
                <div class="form-content">
                    <div class="form-group text-left">
                        <label for="name">Tài khoản</label>
                        <input type="text" class="form-control" name="email" formControlName="username" [class.is-invalid]="formErrors.username">
                        <div class="invalid-feedback" *ngIf="formErrors.username">
                            {{formErrors.username}}
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <label for="name">Mật khẩu</label>
                        <input type="password" class="form-control" name="password" formControlName="password" [class.is-invalid]="formErrors.password">
                        <div class="invalid-feedback" *ngIf="formErrors.password">
                            {{formErrors.password}}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-2 text-uppercase">Đăng nhập</button>

                <a class="btn  mt-2" [routerLink]="['/login/forgot-password']" >Quên mật khẩu ?</a>

            </form>
            
        </div>
    </div>
</div>
