<div class="d-flex mb-3">
    <h5 class="mr-auto d-flex align-items-end">Các cơ hội</h5>
    <button *ngIf="isOpportunityAddOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-outline-primary ml-2" (click)="gotoCreateOpportunity()">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm cơ hội
    </button>
</div>

<div class="table-responsive">
    <ngx-loading [show]="loading"></ngx-loading>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-selection stripe row-border hover">
        <thead>
            <tr>
                <th>Tên cơ hội</th>
                <th>Khách hàng</th>
                <th>Liên hệ</th>
                <th>Phân loại</th>
                <th>Giá trị dự kiến</th>
                <th>Giai đoạn</th>
                <th class="text-nowrap">Xác suất</th>
                <th class="text-nowrap">Phân công cho</th>
                <th class="table-action">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagedResult.items">
                <td>
                    <a [routerLink]="isEyeVisible() ? ['/opportunity/detail', item.id] : []"
                        [title]="item.opportunityName">{{ item.opportunityName }}</a>
                </td>
                <td [title]="item.customerName">{{ item.customerName || 'Không có' }}</td>
                <td [title]="item.contact">
                    {{item.contact || 'Không có'}}
                </td>
                <td>{{ (item.category | translate) || 'Không có' }}</td>
                <td>{{ item.expectedValue | vnCurrency }}</td>
                <td>{{ (item.phase | translate) || 'Không có'}}</td>
                <td>{{ (item.probability && item.probability + '%') || 'Không có'}} </td>
                <td [title]="item.assignTo">{{ item.assignTo }}</td>
                <td>
                    <a *ngIf="isEyeVisible()" [routerLink]="['/opportunity/detail', item.id]">
                        <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="isOpportunityEditOpportunity" [routerLink]="['/opportunity/edit', item.id]" class=" text-success ml-3">
                        <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                    </a>
                    <a *ngIf="isOpportunityDeleteOpportunity" (click)="delete(item.id)" class="text-dark ml-3">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <span *ngIf="!isEyeVisible() && !isOpportunityEditOpportunity && !isOpportunityDeleteOpportunity" class="pl-2">Không có</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center p-1" *ngIf="pagedResult && pagedResult.items && pagedResult.items.length == 0">Không có dữ
        liệu</div>
</div>

<app-pagination [pagedResult]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>