<nav class="sidebar-menu" >
    <ul class="list-group mt-3 pb-2">
        <a routerLink="./overview" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-dashboard"></i>&nbsp; -->
            Sơ lược
        </a>
        <a [routerLink]="['./spec']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; -->
            Chi tiết
        </a>
        <a [routerLink]="['./comment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-table"></i>&nbsp; -->
            Bình luận
        </a>
        <a [routerLink]="['./audit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-edit"></i>&nbsp; -->
            Các cập nhật
        </a>
        <a [routerLink]="['./activity']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-desktop"></i>&nbsp; -->
            Các hoạt động
        </a>
        <a [routerLink]="['./opportunity']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-desktop"></i>&nbsp; -->
            Cơ hội
        </a>
        <a [routerLink]="['./campaign']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-desktop"></i>&nbsp; -->
            Chiến dịch
        </a>
    </ul>
</nav>
