<div *ngIf="prospect$ | async as prospect">
    <div class="search-box d-flex">

        <div class="media mr-auto">
            <div class="media-header">
                <a [routerLink]='["/prospect"]'>
                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                </a>
                <i class="fa fa-address-card" aria-hidden="true"></i>
            </div>

            <div class="media-body ml-3">
                <p class="last">
                    <strong>{{(prospect.name | translate) + ' ' + prospect.fullName}}</strong>
                </p>
                <span class="small text-muted">{{prospect.companyName || 'Chưa có công ty'}}</span>
            </div>

        </div>

        <div class="action-bar">
            <a *ngIf="isProspectEditProspect || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" [routerLink]="['/prospect/edit', prospect.id]">Sửa &nbsp;
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a *ngIf="(isProspectSendEmail && prospect.email) || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" [href]="prospect.email ? 'mailto:' + prospect.email : 'mailto:'">
                Gửi email
                &nbsp;
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <button *ngIf="isProspectChangeProspect || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" (click)="openConvertProspectModal()" class="btn btn-primary ml-2">Chuyển đổi tiềm năng &nbsp;
                <i class="fa fa-exchange" aria-hidden="true"></i>
            </button>
            <button *ngIf="isProspectDeleteProspect || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" (click)="delete(prospect.id)" class="btn btn-primary ml-2">Xóa &nbsp;
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary ml-2" (click)="refresh(prospect.id)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>

    </div>
    <hr>

    <div class="d-flex row no-gutters">
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-2">
            <app-prospect-menu></app-prospect-menu>
        </div>
    </div>

</div>
<div *ngIf="isNotExist">
    <div class="alert alert-warning text-center" role="alert">
        Tiềm năng không tồn tại hoặc đã bị xóa !
    </div>
</div>