.status-1 {
    background-color: #FE80AB;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-2 {
    background-color: #1d96df;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-3 {
    background-color: #a1a1a1;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.hyperlink {
    color: #19a3b9 !important;
    cursor: pointer;
}

.table-responsive {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }
}

@media only screen and (max-width: 2000px) {
    table.dataTable {
        th,
        td {
            max-width: 150!important;
        }
    }
}

@media only screen and (max-width: 1600px) {
    table.dataTable {
        th,
        td {
            max-width: 150px;
        }
    }
}

@media only screen and (max-width: 1366px) {
    table.dataTable {
        th,
        td {
            max-width: 150px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    table.dataTable {
        th,
        td {
            max-width: 150px;
        }
    }
    .filter-bar {
        zoom: 0.75;
        .form-control {
            width: 125px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .filter-bar{
        zoom: 0.75;
    }
    table.dataTable {
        th,
        td {
            max-width: 40px;
        }
    }
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

a{
    cursor: pointer;
}

