<div class="d-flex mb-3">
  <h5 class="mr-auto d-flex align-items-end">Các chiến dịch</h5>
  <div class="">
      <label for="prospectSource" class="form-label">Loại chiến dịch</label>
      <span class="custom-dropdown mx-sm-2">
          <select class="form-control" [(ngModel)]="filterModel.type">
              <option [ngValue]="null">--Lựa chọn--</option>
              <option *ngFor="let item of campaignTypeList | async" [value]="item.id">{{item.text}}</option>
          </select>
      </span>
  </div>
  <button type="submit" class="btn btn-primary" (click)="filter()">
      <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
  </button>
  <button  class="btn btn-secondary ml-2" (click)="clearFilter()">
      <i class="fa fa-times" ></i>&nbsp; Xóa lọc
  </button>
  <button class="btn btn-outline-primary ml-2" (click)="gotoCreateCampaignPage()">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm chiến dịch
  </button>
</div>

<div class="table-responsive">
  <ngx-loading [show]="loading"></ngx-loading>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table stripe row-border hover">
    <thead>
      <tr>
        <th class="text-nowrap">Mã chiến dịch</th>
        <th class="text-nowrap">Tên chiến dịch</th>
        <th class="text-nowrap">Trạng thái</th>
        <th class="text-nowrap">Loại chiến dịch</th>
        <th class="text-nowrap">Đối tượng tiếp thị</th>
        <th class="text-nowrap">KPI</th>
        <th class="text-nowrap">Ngày bắt đầu</th>
        <th class="text-nowrap">Ngày xong dự kiến</th>
        <th class="text-nowrap">Phân công cho</th>
        <th class="table-action">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedResult.items">
          <td [title]="item.campaignNo">
              <a [routerLink]="['/campaign/detail', item.id]" [title]="item.campaignNo">{{item.campaignNo || 'Không có'}}</a>
          </td>
        <td>
          <a [title]="item.name"
            [routerLink]="['/campaign/detail', item.id]">
            {{ item.name }}
          </a>
        </td>
        <td class="td-mark-status">
            <div [class.mark-status]="item.status" [class.status-plan]='item.status=="IsPlanning_Campaign"' [class.status-inprogess]='item.status=="Proceed_Campaign"'
                [class.status-complete]='item.status=="Finish_Campaign"' [class.status-cancel]='item.status=="Cancel"'
                [class.status-pending]='item.status=="DoNotProceed"' [class.status-null]='!item.status'>
                {{ (item.status | translate) || 'Không có' }}
            </div>
        </td>
        <td [title]="(item.category || '') | translate" >{{( item.category | translate) || 'Không có'}}</td>
        <td [title]="item.marketingObject || ''">{{item.marketingObject || 'Không có'}}</td>
        <td >{{ (item.numberOfParticipants && item.numberOfParticipants + '%') || 'Không có' }}</td>
        <td class="select-filter" [title]="(item.campaignDateStart | date: 'dd/MM/yyyy') || 'Không có'">{{ (item.campaignDateStart | date: 'dd/MM/yyyy') || 'Không có' }}</td>
        <td class="select-filter" [title]="(item.campaignDateStop | date: 'dd/MM/yyyy') || 'Không có'">{{ (item.campaignDateStop | date: 'dd/MM/yyyy') || 'Không có' }}</td>
        <td class="select-filter" [title]="item.assignTo">{{ item.assignTo || 'Không có' }}</td>
        <td>
          <a
            [routerLink]="['/campaign/detail', item.id]">
            <i class="fa fa-eye text-warning" aria-hidden="true"></i>
          </a>
          <a [routerLink]="['/campaign/edit', item.id]"
            class=" text-success ml-3">
            <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
          </a>
          <a class=" text-dark ml-3">
            <i (click)="delete(item.id, item.activityType)" class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>

  </table>
  <div class="text-center p-1" *ngIf="pagedResult && pagedResult.items && pagedResult.items.length == 0">Không có dữ liệu</div>
</div>

<app-pagination [(pagedResult)]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>