@media only screen and (max-width: 1600px) {
    table.dataTable {
        th,
        td {
            max-width: 120px;
        }
    }
}

@media only screen and (max-width: 1366px) {
    table.dataTable {
        th,
        td {
            max-width: 110px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    table.dataTable {
        th,
        td {
            max-width: 50px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .btn-toolbar {
        zoom: 0.85;
    }
    th,
    td {
        max-width: 30px;
    }
}

.custom-dropdown {
    min-width: 10rem;
}