<kendo-window title="Thông tin chi tiết công nợ" [width]="800">
    <div class="card form-group">
        <h6>
            <strong>THÔNG TIN KHÁCH HÀNG</strong>
        </h6>
        <div class="row form-group">
            <div class="col-md-4 border-right">
                <p>
                    <strong>Mã khách hàng:</strong>
                </p>
                <p>
                    <strong>Tên khách hàng:</strong>
                </p>
                <p>
                    <strong>Mô tả:</strong>
                </p>
                <p>
                    <strong>Địa chỉ:</strong>
                </p>
            </div>
            <div class="col-md-4 border-right">
                <p>
                    <strong>Loại khách hàng:</strong>
                </p>
                <p>
                    <strong>Nhóm khách hàng:</strong>
                </p>
                <p>
                    <strong>Tình trạng:</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Hạn mức tín dụng:</strong>
                </p>
                <p>
                    <strong>Công nợ:</strong>
                </p>
                <p>
                    <strong>Tín dụng còn lại:</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="d-flex justify-content-around form-group">
            <h6 class="revenue-title">
                <strong>THÔNG TIN CHI TIẾT CÔNG NỢ</strong>
            </h6>
            <div class="d-flex">
                <div class="select_box mt-2  mr-2">Từ</div>
                <div class="input-group  calendarInput  mr-3">
                    <owl-date-time #startDate [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder" [locale]="datePickerConfig.vi"
                        [type]="datePickerConfig.calendarType">
                    </owl-date-time>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                <div class="select_box mt-2"> đến</div>
                <div class="input-group  calendarInput ml-3">
                    <owl-date-time #endDate [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder" [locale]="datePickerConfig.vi"
                        pickerType="calendar" [type]="datePickerConfig.calendarType">
                    </owl-date-time>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="text-nowrap">
                    <tr class="grid-header-custom">
                        <th>Ngày ghi sổ</th>
                        <th>Chứng từ</th>
                        <th>Ngày chứng từ</th>
                        <th>Diễn giải</th>
                        <th>Công nợ tăng</th>
                        <th>Công nợ giảm</th>
                        <th>Tín dụng còn lại</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-right">Số dư đầu kỳ:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="6" class="text-right">Số dư cuối kỳ:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</kendo-window>
