<div>

    <div class="search-box d-flex">

        <div class="media mr-auto">
            <div class="media-header">
                <a [routerLink]='["/campaign"]'>
                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                </a>
                <i class="fa fa-bullhorn mr-3" aria-hidden="true"></i>
                <h4 class="d-inline mb-0 text-dark">{{ campaign.id > 0 ? 'Chỉnh sửa chiến dịch' : 'Tạo mới chiến dịch'}}</h4>
            </div>

        </div>
        <div class="action-bar">
            <button class="btn btn-primary ml-2" tabindex="21" (click)="submitForm()">Lưu &nbsp;

            </button>
            <button class="btn btn-secondary ml-2" tabindex="22" [routerLink]="['/campaign']">Hủy &nbsp;

            </button>
        </div>

    </div>
    <hr>
    <form [formGroup]="campaignForm" novalidate>
        <!-- <app-validation-summary [validationMessages]="invalidMessages"></app-validation-summary> -->
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                        <div>
                            <i class="fa fa-caret-down mr-3"></i>Chi tiết chiến dịch
                        </div>

                    </div>
                    <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Tên chiến dịch</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" autofocus  type="text" [class.is-invalid]="formErrors.name" formControlName="name" tabindex="1">
                                        <div class="invalid-feedback" *ngIf="formErrors.name">
                                            {{formErrors.name}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Liên quan đến loại</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" tabindex="7" formControlName="relatedToType" (change)="onRelatedToTypeChange()">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of activityTypeList" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Trạng thái chiến dịch</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="status" tabindex="2">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of campaignStatus | async" [value]="item.id">{{item.text | translate}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Ngày bắt đầu</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time #startDate [readonlyInput]="datePickerConfig.readonlyInput" formControlName="campaignDateStart" 
                                            [dateFormat]="datePickerConfig.dateFormat" 
                                            [placeHolder]="datePickerConfig.datePlaceHolder"
                                            [locale]="datePickerConfig.vi" 
                                            [max] = "endDate.value"
                                            [type]="datePickerConfig.calendarType"
                                            [tabIndex]="'6'">
                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span> 
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Loại chiến dịch</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="category" tabindex="3">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of campaignTypes | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <span class="w-25" *ngIf="isCampaignConfigType || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('campaign-types')" class="fa fa-pencil-square ic-pencil pointer"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Ngày xong dự kiến</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time #endDate [readonlyInput]="datePickerConfig.readonlyInput" formControlName="campaignDateStop" 
                                            [dateFormat]="datePickerConfig.dateFormat" 
                                            [placeHolder]="datePickerConfig.datePlaceHolder"
                                            [locale]="datePickerConfig.vi" 
                                            [min] = "startDate.value"
                                            [type]="datePickerConfig.calendarType"
                                            [tabIndex]="'7'">
                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Đối tượng tiếp thị</td>
                                    <td class="w-25">
                                        <textarea class="w-75 form-control" rows="2" [class.is-invalid]="formErrors.marketingObject" formControlName="marketingObject" tabindex="4"></textarea>
                                        <div class="invalid-feedback" *ngIf="formErrors.marketingObject">
                                            {{formErrors.marketingObject}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Nhà tài trợ</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.donors" formControlName="donors" tabindex="8">
                                        <div class="invalid-feedback" *ngIf="formErrors.donors">
                                            {{formErrors.donors}}
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!((employeeGroupList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" [class.is-invalid]="formErrors.assignTo" formControlName="assignToGroup" tabindex="5" (change)="assignToGroupChange($event.target.value)">
                                                    <option [ngValue]="null">--Lựa chọn--</option>
                                                    <option *ngFor="let item of employeeGroupList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.assignTo">
                                            {{formErrors.assignTo}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Mục tiêu chiến dịch</td>
                                    <td class="w-25">
                                        <textarea  class="w-75 form-control" rows="2" [class.is-invalid]="formErrors.target" formControlName="target" tabindex="9"></textarea>
                                        <div class="invalid-feedback" *ngIf="formErrors.target">
                                            {{formErrors.target}}
                                        </div>
                                    </td>
                                </tr>
<!--  -->
                                <tr>
                                    <td class="w-25 bg-light text-right label">Người phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!((employeeList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" [class.is-invalid]="formErrors.assignTo" formControlName="assignTo" tabindex="5">
                                                    <option [ngValue]="null">--Lựa chọn--</option>
                                                    <option *ngFor="let item of employeeList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.assignTo">
                                            {{formErrors.assignTo}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">KPI</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <input appInputNumber type="number" class="form-control text-right" [class.is-invalid]="formErrors.numberOfParticipants" formControlName="numberOfParticipants"
                                                tabindex="10">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.numberOfParticipants">
                                            {{formErrors.numberOfParticipants}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Nguồn chiến dịch</td>
                                    <td class="w-25">
                                        <div class="w-75 d-inline-flex">
                                            <ng-multiselect-dropdown
                                            [placeholder]="'--Lựa chọn--'"
                                            formControlName="approachChannels"
                                            [data]="approachChanelList"
                                            [settings]="dropdownSettings">
                                            </ng-multiselect-dropdown>
                                            <div></div>
                                        </div>
                                        <span class="w-25" *ngIf="isCampaignConfigApproachChannel || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('campaign-approach-channel')"
                                                class="fa fa-pencil-square ic-pencil pointer" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label"></td>
                                    <td class="w-25"></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress" [attr.aria-expanded]="!isCollapsedAddress" aria-controls="info-address">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết dự kiến và thực tế</div>
                    <div class="body" id="info-address" [ngbCollapse]="isCollapsedAddress">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Ngân sách</td>
                                    <td class="w-25">
                                        <input  class="w-75 form-control  text-right" appInputMoney formControlName="budget" tabindex="14">
                                    </td>
                                  
                                    <td class="w-25 bg-light text-right label">Chi phí thực tế</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney formControlName="actualCost" tabindex="17">
                                    </td>
                                </tr>
                                <tr>
                               
                                    <td class="w-25 bg-light text-right label">Hiệu quả đầu tư dự kiến</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney  formControlName="expectedInvestmentEfficiency" tabindex="15">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Hiệu quả đầu tư thực tế</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney  formControlName="actualInvestmentEfficiency" tabindex="18">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Doanh thu dự kiến</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney  formControlName="expectedRevenue" tabindex="16">
                                    </td>
                                    <td class="w-25 bg-light text-right label">Doanh thu thực tế</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney formControlName="actualRevenue" tabindex="19">
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Mô tả</td>
                                    <td class="w-75">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.description" formControlName="description" tabindex="20">
                                        <div class="invalid-feedback" *ngIf="formErrors.description">
                                            {{formErrors.description}}
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <app-select-data-list *ngIf="releatedTypeItem" [type]="releatedTypeItem" [listDataIn]="listReleated" (listDataOut)="getListDataOut($event)"></app-select-data-list>
    <!-- <app-select-data-list *ngIf="releatedTypeItem && (releatedTypeItem.id.toString() == 'Prospect' || releatedTypeItem.id.toString() == 'Customer' || releatedTypeItem.id.toString() == 'Contact')" [type]="releatedTypeItem" [activityType]="'Work'" [listDataIn]="listReleated" (listDataOut)="getListDataOut($event)"></app-select-data-list> -->

</div>
