<div class="timeline-wrapper">

    <!-- Page header -->
    <div class="page-header">
        <div class="timeline-of-day">
            <span>{{timelineItem.timelineDate}}</span>
        </div>
    </div>
    <!-- /Page header -->

    <!-- Timeline -->
    <div class="timeline">

        <!-- Line component -->
        <div class="line text-muted"></div>

        <!-- Separator -->
        <!-- <div class="separator text-muted">
            <time>26. 3. 2015</time>
        </div> -->
        <!-- /Separator -->

        <!-- Panel -->
        <article *ngFor="let item of timelineItem.items" class="panel">
            <!-- Icon -->
            <div class="panel-heading">
                <div class="circle-color" placement="left" ngbTooltip="{{item.status | translate}}" [class.status-plan]='item.status=="IsPlanning_Activity"'
                    [class.status-inprogess]='item.status=="Proceed_Activity"' [class.status-not-start]='item.status=="Nostarted"'
                    [class.status-complete]='item.status=="Finish_Activity"' [class.status-cancel]='item.status=="Postponed"'
                    [class.status-pending]='item.status=="WaitingEntry"'></div>
            </div>
            <!-- /Icon -->

            <!-- Body -->
            <div class="panel-body">
                <div class="d-flex">
                    <div class="font-weight-bold">
                        <a [routerLink]="item.activityType=='Event' 
                    ? ['/activity/event/detail', item.id] 
                    : ['/activity/task/detail', item.id]">
                            {{item.name}}
                        </a>
                    </div>
                    <span class="ml-auto time-metadata">{{item.startDate | date: 'HH:mm'}}</span>
                </div>
                <div class="d-flex flex-row mt-1">
                    <div *ngIf="item.assignTo" class="font-italic text-truncate">Phân công cho:
                        <strong title="{{item.assignTo}}">{{item.assignTo}}</strong>
                    </div>
                    <div *ngIf="item.specificRelated" class="ml-3 font-italic goto" (click)="goToItem(item.relatedToType,item.specificRelated.id,item.specificRelated.name)">Liên quan đến:
                        <strong title="{{item.specificRelated.name}}">{{item.specificRelated.name}}</strong>
                    </div>
                </div>
            </div>
            <!-- /Body -->
        </article>
        <!-- /Panel -->

    </div>
    <!-- /Timeline -->

</div>
