<div *ngIf="isActivityViewActivityDetailEvent || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
    <div [@routerTransition] *ngIf="event$ | async as event">

        <div class="card-collapse">
            <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain" aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Chi tiết sự kiện</div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Tiêu đề sự kiện</td>
                            <td class="w-25">{{event.name}}</td>
                            <td class="w-25 bg-light text-right label">Loại</td>
                            <td class="w-25">{{eventTypeSettingItem?.text || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                            <td class="w-25">{{event.assignToGroup && event.assignToGroup.name || 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label">Vị trí</td>
                            <td class="w-25">{{event.address || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Người phụ trách</td>
                            <td class="w-25">{{event.assignTo && event.assignTo.name || 'Không có'}}</td>
                            
                            <td class="w-25 bg-light text-right label">Liên quan đến loại</td>
                            <td class="w-25">{{(event.relatedToType | translate) || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Ngày giờ bắt đầu</td>
                            <td class="w-25">{{event.startDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                            
                            <td class="w-25 bg-light text-right label">Cụ thể liên quan</td>
                            <td class="w-25 color" >
                                <a (click)="onClick(event.relatedToType ,event.specificRelated.id)">{{(event.specificRelated && event.specificRelated.name)}}</a>
                                <span *ngIf="!(event.specificRelated && event.specificRelated.name)">Không có</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Ngày giờ kết thúc</td>
                            <td class="w-25">{{event.endDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                            
                            <td class="w-25 bg-light text-right label" *ngIf="event.relatedToType != 'Opportunity'"></td>
                            <td class="w-25 bg-light text-right label" *ngIf="event.relatedToType != 'Opportunity'"></td>
                            <td class="w-25 bg-light text-right label" *ngIf="event.relatedToType == 'Opportunity'">Khách hàng</td>
                            <td class="w-25" *ngIf="event.relatedToType == 'Opportunity'">{{selectedSpecificRelated?.extra  || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Trạng thái</td>
                            <td class="w-25">
                                <div class="mark-status" [class.status-plan]='event.status=="New"' [class.status-inprogess]='event.status=="Inprogress"'
                                    [class.status-not-start]='event.status=="Issued"' [class.status-complete]='event.status=="Completed"'
                                    [class.status-cancel]='event.status=="Canceled"' [class.status-pending]='event.status=="Auditing"'>
                                    {{ event.status && event.status == 'New' ? 'Sẽ thực hiện' : event.status | translate }}
                                </div>
                            </td>
                            <td class="w-25 bg-light text-right label"></td>
                            <td class="w-25 bg-light text-right label"></td>
                        </tr>
                    
                    </tbody>
                </table>

            </div>
        </div>




        <div class="card-collapse">
            <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc" aria-controls="info-desc">
                <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
            <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mô tả</td>
                            <td class="w-75">{{event.description || 'Không có'}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <app-comments [moduleName]="'event'" [moduleItemId]="event.id" [viewMode]="'partialEvent'" [addComment]="isActivityAddCommentEvent" [viewComment]="isActivityViewCommentsEvent"></app-comments>
            </div>
            <div class="col-lg-6 col-sm-6">
                <app-audits [moduleName]="'event'" [moduleItemId]="event.id" [viewAudit]="isActivityHistoriesEvent"></app-audits>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isActivityViewActivityDetailEvent && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">
    <p class="text-center">Bạn không có quyền xem dữ liệu này</p>
</div>