.action-bar{
    vertical-align: middle;
}

.mark-status {
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: auto !important;
    text-align: center;
}

.color{
    a{
     color: #19a3b9;
    } 
    a:hover{
        color:#478993;
        cursor: pointer;
    }
 }
