.comment-input{
    background-color: #eeeff2;
}

.status-1 {
    background-color: #FE80AB;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-2 {
    background-color: #1d96df;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-3 {
    background-color: #a1a1a1;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.color{
    cursor: pointer;
    span{
     color: #19a3b9;
    } 
    span:hover{
        color:#478993;
    }
 }
 