<div class="mt-1">
  <p>Liên hệ :
      <span class="font-weight-bold">{{contacts[0].objectName}}</span>
  </p>
  <div class="row" *ngIf="listCustomer">
      <div class="col-md-4 col-sx-4">
          Khách hàng :
      </div>
      <div class="col-md-8 col-sx-8">
          <div class="mt-1 d-flex justify-content-between" *ngFor="let customer of listCustomer">
              <span>{{customer.text}}</span>
              <button *ngIf="customer.isOpportunity" class="opportunity" kendoButton [look]="'outline'" (click)="detailOpportunityItem(customer.id)"
                  [primary]="true">Xem cơ hội</button>
          </div>
      </div>
  </div>
  <p>Email: {{contacts[0].objectEmail}}</p>
</div>


<div class="mt-3 d-flex justify-content-around">
  <button kendoButton (click)="detailContact()" [primary]="true">Xem chi tiết</button>
  <button *ngIf="opportunityId" kendoButton (click)="detailOpportunity()" [primary]="true">Xem cơ hội</button>
</div>
