<div *ngIf="fengShuisInforModel" class="p-2 popup">
    <div class="d-flex justify-content-center title">
        <div>
            <span>Chi tiết: Mạng {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements}} - {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralDescription}}</span>
        </div>

    </div>
    <div class="d-flex justify-content-center title-2 mt-2">
        <div *ngIf="gender === 'Male'">
            <span>Nam mạng - {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralMale}}</span>
        </div>
        <div *ngIf="gender === 'Female'">
            <span>Nữ mạng - {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFemale}}</span>
        </div>
    </div>
    <hr>
    <div class="mt-3">
        <span class="font-weight-bold">Hướng: {{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionBowLife}}</span>
    </div>
    <div class="row p-2">
        <div class="col-md-6 col-lg-6 col-sx-6">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sx-4">
                    <div class="mt-2">
                        <span>Đông</span>
                    </div>
                    <div class="mt-2">
                        <span>Đông nam</span>
                    </div>
                    <div class="mt-2">
                        <span>Nam</span>
                    </div>
                    <div class="mt-2">
                        <span>Bắc</span>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sx-8 info-body">
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionEast}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionSouthEast}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionSouth}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionNorth}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sx-6">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sx-4">
                    <div class="mt-2">
                        <span>Tây</span>
                    </div>
                    <div class="mt-2">
                        <span>Tây nam</span>
                    </div>
                    <div class="mt-2">
                        <span>Tây bắc</span>
                    </div>
                    <div class="mt-2">
                        <span>Đông bắc</span>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sx-8 info-body">
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionWest}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionSouthWest}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionNorthWest}}</span>
                    </div>
                    <div class="mt-2">
                        <span>{{fengShuisInforModel.fengShuisDirectionDto.fengShuisDirectionNorthEast}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-3" *ngIf="fengShuisInforModel.fengShuisColorDto">
        <span class="font-weight-bold">Màu: {{fengShuisInforModel.fengShuisColorDto.fengShuisColorLife}}</span>
    </div>
    <div class="row p-2">
        <div class="col-md-6 col-lg-6 col-sx-6">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sx-4">
                    <div class="mt-2">
                        <span>Tương sinh</span>
                    </div>
                    <div class="mt-2">
                        <span>Hòa hợp</span>
                    </div>

                </div>
                <div class="col-md-8 col-lg-8 col-sx-8 info-body">
                    <div class="mt-2">
                        <span *ngIf="fengShuisInforModel.fengShuisColorDto">{{fengShuisInforModel.fengShuisColorDto.fengShuisColorMutual}}</span>
                    </div>
                    <div class="mt-2">
                        <span *ngIf="fengShuisInforModel.fengShuisColorDto">{{fengShuisInforModel.fengShuisColorDto.fengShuisColorHarmony}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sx-6">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sx-4">
                    <div class="mt-2">
                        <span>Chế khắc</span>
                    </div>
                    <div class="mt-2">
                        <span>Bị khắc</span>
                    </div>

                </div>
                <div class="col-md-8 col-lg-8 col-sx-8 info-body">
                    <div class="mt-2">
                        <span *ngIf="fengShuisInforModel.fengShuisColorDto">{{fengShuisInforModel.fengShuisColorDto.fengShuisColorFightDown}}</span>
                    </div>
                    <div class="mt-2">
                        <span *ngIf="fengShuisInforModel.fengShuisColorDto">{{fengShuisInforModel.fengShuisColorDto.fengShuisColorConflict}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="mt-3">
        <span class="font-weight-bold">Mô tả</span>
    </div>
    <div class="p-2">
    </div> -->
</div>
