.wrapper ul {
    margin: 0;
    margin-top: 20px;
    list-style: none;
    position: relative;
    padding-left: 124px;

    font-size: 13px;
  }
  .wrapper ul:before {
    content: "";
    width: 1px;
    height: 140%;
    position: absolute;
    border-left: 2px dashed #17a2b8;
  }

  .wrapper ul:last-child {
    &::before{
      height: 0;
    }
  }

  .wrapper ul li:hover{
        background-color: #f8f9fa;
  }
  .wrapper ul li {
    position: relative;
    margin-left: 30px;
   // background-color: rgba(50, 181, 203, 0.1);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
  }
  .wrapper ul li:not(:first-child) {
    margin-top: 60px;
  }
  .wrapper ul li > span {
    width: 2px;
    height: 100%;
    background: #17a2b8;
    left: -30px;
    top: 0;
    position: absolute;
  }
  .wrapper ul li > span:before, .wrapper ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
    position: absolute;
    background: #17a2b8;
    left: -3px;
    top: 0;
  }
  .wrapper ul li span:after {
    top: 93%;
  }
  .wrapper ul li > div {
    margin-left: 10px;
  }
  .wrapper div .title, .wrapper div .type {
    //font-weight: 600;
    //font-size: 12px;
  }
  .wrapper div .info {
    //font-weight: bold;
  }
  .wrapper div > div {
    margin-top: 5px;
  }
  .wrapper span.number {
    height: 100%;
  }
  .wrapper span.number span {
    position: absolute;
    font-size: 98%;
    left: -120px;
    // font-weight: bold;
  }
  .wrapper span.number span:first-child {
    top: -5px;
  }
  .wrapper span.number span:last-child {
    top: 87%;
  }
.wrapper{
  width: 100%;
}
  
.unread{
  background-color: #dfeaea94;
}