.action-bar{
    vertical-align: middle;
}

.color{
    cursor: pointer;
    a{
     color: #19a3b9;
    } 
    a:hover{
        color:#478993;
    }
 }
 

 .hyperlink {
    color: #19a3b9 !important;
    cursor: pointer;
 }