<div class="card">
    <div class="card-body">
        <div class="d-flex eventOrTask">
            <h5 class="mr-auto d-flex align-items-end">Danh sách liên hệ</h5>
            <button *ngIf="isContactAddContact || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary" (click)="addContact()">Thêm vào &nbsp;</button>
        </div>
        <div *ngIf="contacts?.length; else emptyContact">
            <div *ngFor="let contact of contacts">
                <hr>
                <div *ngIf="isContactContactSummary || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="d-flex">
                    <div class="avatar d-flex align-self-start mr-2">
                        <div *ngIf="!contact.image" class="avatar-circle-sm">
                            <span class="initials">
                                {{contact.name | shortenedName}}
                            </span>
                        </div>
                        <img *ngIf="contact.image" [src]="contact.image" width="35" height="35" class="d-inline-block " alt="">
                    </div>
                    <p class="mr-auto">
                        <a [routerLink]="['/contact/detail', contact.id]">
                            <strong>{{contact.name}}</strong>
                            <br> {{contact.cellularPhone}}
                            <span *ngIf="contact.email">- {{contact.email}}</span>
                        </a>
                    </p>
                </div>
                <div *ngIf="!isContactContactSummary && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin" class="text-center">Bạn không có quyền xem dữ liệu này</div>
            </div>
        </div>
    </div>
</div>
<ng-template #emptyContact>
    <hr>
    <div class="text-center">
        Chưa có liên hệ nào !
    </div>
</ng-template>