<kendo-window title="Call Center" *ngIf="opened" [top]="380"  [width]="500" (close)="close()">
  <div class="row mt-1">
      <div class="col-md-2 col-sx-2" style="text-align: center;">
          <img src="assets/images/call-center.png" width="60" height="60" alt="">
      </div>
      <div class="col-md-10 col-sx-10">
          <p style="text-align: center;" class="font-weight-bold">0{{phoneNumber}}</p>
          <p style="text-align: center;"><em>Đã gọi - </em>&nbsp;<em>{{startTime | amCalendar}}</em></p>
      </div>
  </div>
  <div>
      <div *ngIf="customers.length && contacts.length">
          <app-contact-customer-history [phoneNumber]="phoneNumber" [customers]="customers" [contacts]="contacts"></app-contact-customer-history>
      </div>
      <div *ngIf="contacts.length && !customers.length">
          <app-contact-history [phoneNumber]="phoneNumber" [contacts]="contacts"></app-contact-history>
      </div>
      <div *ngIf="!contacts.length && customers.length">
          <app-customer-history [phoneNumber]="phoneNumber" [customers]="customers"></app-customer-history>
      </div>
      <div *ngIf="!contacts.length && !customers.length && prospects.length">
          <app-prospect-history [phoneNumber]="phoneNumber" [prospects]="prospects"></app-prospect-history>
      </div>
      <div *ngIf="!contacts.length && !customers.length && !prospects.length">
          <app-anonymous-history [phoneNumber]="phoneNumber"></app-anonymous-history>
      </div>
  </div>
</kendo-window>
