$topnav-background-color: lightgray;
$color: rgba(255, 255, 255, 0.6);
:host {
    display: block;
}
.get-active-code-page {
    .header{
        font-weight: bold;
        font-size: 150%;
    }
    span{
        font-weight: bold;
    }
    .footer{
        margin-top: 4%;
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #000;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 50px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
        color: #28b2c8;

    }

    .content {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: $color !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: $color !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: $color !important;
        }

        input:-ms-input-placeholder {
            color: $color !important;
        }
    }
    form {
        padding: 22px 26px;
        background-color: #fff;
        border-radius: 5px;
       
    }

}

.panel{
    width: 460px;
}
.header{
    margin-top: 2%;
    font-weight: bold;
    font-size: 150%;
}
.messenger{
    color: #9c9c9c;
}
.email{
  .email-content{
    font-weight: bold;
    
  }
}