<div class="enter-active-code-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="panel">
            <h1 class="pb-3">Mộc Hòa Bình CRM</h1>

            <div class="form-wrapper">
                    <form role="form" [formGroup]="enterActiveCodeForm" (ngSubmit)="submitForm()">
                            <app-list-errors [errorCode]="apiErrorCode"></app-list-errors>
            
                            <div class="header">
                                <h3 class="font-weight-bold">NHẬP MÃ XÁC NHẬN</h3>
                            </div>
                            <div class="messenger">
                                <label>Vui lòng nhập mã xác nhận đã được gửi đến địa chỉ email
                                    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">{{ email }}</a>
                                </label>
                            </div>
            
                            <div class="form-group list-code mt-2">
                                <div class="row">
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberOne">
                                        <input autofocus maxlength="1" appInputNumber class="form-control" formControlName="numberOne" (paste)="pastValue($event)" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code2.select()">
                                    </div>
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberTwo">
                                        <input #code2 maxlength="1" appInputNumber class="form-control" formControlName="numberTwo" (paste)="pastValue($event)" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code3.select()">
                                    </div>
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberThree">
                                        <input #code3 maxlength="1" appInputNumber class="form-control" formControlName="numberThree" (paste)="pastValue($event)" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code4.select()">
                                    </div>
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberFour">
                                        <input #code4 maxlength="1" appInputNumber class="form-control" formControlName="numberFour" (paste)="pastValue($event)" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code5.select()">
                                    </div>
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberFive">
                                        <input #code5 maxlength="1" appInputNumber class="form-control" formControlName="numberFive" (paste)="pastValue($event)" (keyup)="(($event.keyCode >= 48 && $event.keyCode <= 57) || ($event.keyCode >= 96 && $event.keyCode <= 105)) && code6.select()">
                                    </div>
                                    <div class="code col-lg-2 col-md-2 col-sm-2" [class.is-invalid-2]="formErrors.numberSix">
                                        <input #code6 maxlength="1" appInputNumber class="form-control" formControlName="numberSix" (paste)="pastValue($event)" (keyup)="btnSubmit.focus()">
                                    </div>
                                </div>
                            </div>
            
                            <div class="footer-1 mt-3">
                                <a class="btn underline" (click)="sendCodeAgain()">Không nhận được mã xác nhận,
                                    <span class="bold"> gửi lại</span>
                                </a>
                            </div>
                            <div class="text-warning" *ngIf="isMessengerAlert">
                                {{ messengerAlert }}
                            </div>
            
                            <button #btnSubmit type="submit" class="btn btn-primary w-100 mt-4 text-uppercase">TIẾP TỤC</button>
            
                            <div class="footer-2 mt-3">
                                <a class="" [routerLink]="['/login']">Trở về</a>
                            </div>
                        </form>
            </div>

           
        </div>
    </div>
</div>
