.action-bar{
    vertical-align: middle;
}

.color{
    a{
     color: #19a3b9;
    } 
    a:hover{
        color:#478993;
        cursor: pointer;
    }
 }
 .margin-left-star-spec{
    margin-left: -0.4rem;
 }
 