<div *ngIf="isPmsViewInfoDetailCustomer || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
    <div [@routerTransition] *ngIf="customer$ | async as customer">
        <div class="card-collapse">
            <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                aria-controls="info-main">
                <i class="fa fa-caret-down mr-3"></i>Chi tiết khách hàng</div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mã khách hàng</td>
                            <td class="w-25">{{customer.customerNumber }}</td>
                            <td class="w-25 bg-light text-right label">Email chính</td>
                            <td class="w-25">
                                <a [href]="'mailto:' + customer.emailOfficial" *ngIf="customer.emailOfficial">{{customer.emailOfficial}}</a>
                                <span *ngIf="!customer.emailOfficial">Không có</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Tên khách hàng</td>
                            <td class="w-25">{{customer.name}}</td>
                            <td class="w-25 bg-light text-right label">Email phụ</td>
                            <td class="w-25">
                                <a [href]="'mailto:' + customer.emailExtra" *ngIf="customer.emailExtra">{{customer.emailExtra}}</a>
                                <span *ngIf="!customer.emailExtra">Không có</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Website</td>
                            <td class="w-25">
                                <a [href]="'http://' + customer.website" target="_blank" *ngIf="customer.website">{{customer.website}}</a>
                                <span *ngIf="!customer.website">Không có</span>
                            </td>
                            <td class="w-25 bg-light text-right label">Nhóm</td>
                            <td class="w-25">{{groupItem?.text || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Fax</td>
                            <td class="w-25">{{customer.fax || 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label">Đánh giá</td>
                            <td class="w-25">
                                <star-rating-comp [starType]="'svg'" [rating]="customer.rating" [readOnly]="true" class="float-left margin-left-star-spec"></star-rating-comp>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Điện thoại chính</td>
                            <td class="w-25">
                                <span appPhoneNumberCallable *ngIf="customer.phoneNumberOfficial">{{customer.phoneNumberOfficial}}</span>
                                <span *ngIf="!customer.phoneNumberOfficial">Không có</span>
                            </td>
                            <td class="w-25 bg-light text-right label">Tổng doanh thu</td>
                            <td class="w-25">{{(customer.totalAmount | vnCurrency) || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mã chứng khoán</td>
                            <td class="w-25">{{customer.stockCode || 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label">
                                <span>Nhóm phụ trách</span>
                            </td>
                            <td class="w-25">{{(customer.assignToGroup && customer.assignToGroup.name) || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mã số thuế</td>
                            <td class="w-25">{{customer.taxCode || 'Không có'}}</td>
                            <!-- <td class="w-25 bg-light text-right label">Phân loại</td>
                            <td class="w-25">{{customer.type | translate}}</td> -->
                            <td class="w-25 bg-light text-right label">
                                <!-- <span *ngIf="customer.assignTo.id.startsWith('group')">Nhóm phụ trách</span> -->
                                <span>Người phụ trách</span>
                            </td>
                            <td class="w-25">{{(customer.assignTo && customer.assignTo.name) || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Điện thoại phụ</td>
                            <td class="w-25">
                                <span *ngIf="customer.phoneNumberExtra" appPhoneNumberCallable>{{customer.phoneNumberExtra}}</span>
                                <span *ngIf="!customer.phoneNumberExtra">Không có</span>
                            </td>
                            <td class="w-25 bg-light text-right label">Liên hệ</td>
                            <td class="w-25 color">
                                <div *ngIf="customer.contact.length > 0">
                                    <a *ngFor="let contact of customer.contact" (click)="goToDeitalContact(contact.id)">
                                        <p>{{contact.text}}</p>
                                    </a>
                                </div>
                                <span *ngIf="!customer.contact.length">Không có</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Loại khách hàng</td>
                            <td class="w-25">{{customer.customerType | translate}}</td>
                            <td class="w-25 bg-light text-right label" *ngIf="customer.customerType == 'Personal'">
                                <span>Năm sinh âm</span>
                            </td>
                            <td class="w-25" *ngIf="customer.customerType == 'Personal'">
                                <div class="d-flex" *ngIf="customer.lunarBirthday">
                                    <div class="p-1">
                                        <span class="ml-auto">{{customer.lunarBirthday}}</span>
                                    </div>
                                    <div class="p-1">
                                        -
                                    </div>
                                    <div class="p-1">
                                        <span *ngIf="fengShuisInforModel && fengShuisInforModel.fengShuisGenaralDto && fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements">
                                            Mạng
                                            {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements}}
                                        </span>
                                    </div>
                                    <div class="ml-auto">
                                        <i class="fa fa-info-circle fa-2x" (click)="showDialog()" style="color:#17a2b8; right: 0px;"></i>
                                    </div>
                                </div>
                                <span *ngIf="!customer.lunarBirthday">Không có</span>
                            </td>
                            <td class="w-25 bg-light text-right label" *ngIf="customer.customerType == 'Company'">Ngày thành lập công ty</td>
                            <td class="w-25" *ngIf="customer.customerType == 'Company'">
                                {{(customer.companyEstablishmentDay | date: 'dd/MM/yyyy') || 'Không có'}}</td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Được chuyển đổi từ tiềm năng</td>
                            <td class="w-25 color">
                                <a *ngIf="customer.prospect" (click)="goToHistotyProspectDetail(customer.prospect.id, customer.id)">{{customer.prospect
                                    ? customer.prospect.fullName : ''}}</a>
                                <span *ngIf="!customer.prospect">Không có</span>
                            </td>
                            <td *ngIf="customer.customerType == 'Personal'" class="w-25 bg-light text-right label">Giới tính</td>
                            <td *ngIf="customer.customerType == 'Personal'" class="w-25">{{(customer.gender | translate) || 'Không có'}}</td>
                            <td *ngIf="customer.customerType != 'Personal'" class="w-25 bg-light text-right label"></td>
                            <td *ngIf="customer.customerType != 'Personal'" class="w-25"></td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Lần mua hàng gần nhất</td>
                            <td class="w-25">{{customer.lastInvoiceDate ? (customer.lastInvoiceDate | date: 'dd/MM/yyyy') : 'Không có'}}</td>
                            <td class="w-25 bg-light text-right label" *ngIf="customer.customerType == 'Personal'">Ngày sinh nhật</td>
                            <td class="w-25" *ngIf="customer.customerType == 'Personal'">
                                {{(customer.companyEstablishmentDay | date: 'dd/MM/yyyy') || 'Không có'}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress" [attr.aria-expanded]="!isCollapsedAddress"
                aria-controls="info-address">
                <i class="fa fa-caret-down mr-3"></i>Chi tiết địa chỉ</div>
            <div class="body" id="info-address" [ngbCollapse]="isCollapsedAddress">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">
                                <span>Địa chỉ</span>
                            </td>
                            <td class="w-25">
                                <span >{{customer.address || 'Không có'}}</span>
                            </td>
                            <td class="w-25 bg-light text-right label">
                                <span>Tỉnh/Thành phố</span>
                            </td>
                            <td class="w-25">
                                <span >{{getLocation(customer.location, 'StateProvince') || 'Không có'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">
                                <span>Quốc gia</span>
                            </td>
                            <td class="w-25">
                                <span >{{getLocation(customer.location, 'Country') || 'Không có'}}</span>
                            </td>
                            <td class="w-25 bg-light text-right label">
                                <span>Quận/huyện</span>
                            </td>
                            <td class="w-25">
                                <span >{{getLocation(customer.location, 'District') || 'Không có'}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
                aria-controls="info-desc">
                <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
            <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Mô tả</td>
                            <td class="w-75">{{customer.description || 'Không có'}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div *ngIf="!isPmsViewInfoDetailCustomer && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">
    <p class="text-center">Bạn không có quyền xem dữ liệu này</p>
</div>