<div>

    <div class="search-box d-flex">
        <div class="media mr-auto">
            <div class="media-header">
                <a [routerLink]='["/prospect"]'>
                    <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                </a>
                <i class="fa fa-address-card mr-3" aria-hidden="true"></i>
                <h4 class="d-inline mb-0 text-dark">{{ prospect.id > 0 ? 'Chỉnh sửa tiềm năng' : 'Tạo mới tiềm năng'}}
                </h4>
            </div>

        </div>

        <div class="action-bar">
            <button type="submit" tabindex="106" class="btn btn-primary ml-2" (click)="submitForm()">Lưu &nbsp;

            </button>
            <a class="btn btn-secondary ml-2" tabindex="107" [routerLink]="['/prospect']">Hủy &nbsp;

            </a>
        </div>

    </div>
    <hr>

    <form [formGroup]="prospectForm" novalidate>
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                        aria-controls="info-main">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết tiềm năng</div>
                    <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                        <table class="w-100 table table-bordered table-fixed">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Danh xưng</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" autofocus formControlName="name" tabindex="1">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of salutationList | async" [ngValue]="item.id">
                                                    {{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại chính</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" appInputNumber [class.is-invalid]="formErrors.phoneNumberCustomer || formErrors.phoneEmailSocial"
                                            formControlName="phoneNumberCustomer" tabindex="15">
                                        <div class="invalid-feedback" *ngIf="formErrors.phoneNumberCustomer">
                                            {{formErrors.phoneNumberCustomer}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.phoneEmailSocial">
                                            {{formErrors.phoneEmailSocial}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Họ và tên</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="fullName"
                                            [class.is-invalid]="formErrors.fullName" tabindex="2">
                                        <div class="invalid-feedback" *ngIf="formErrors.fullName">
                                            {{formErrors.fullName}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Điện thoại di động</td>
                                    <td class="w-25">
                                        <input appInputNumber class="w-75 form-control" type="text" [class.is-invalid]="formErrors.phoneNumberpersonal"
                                            formControlName="phoneNumberpersonal" tabindex="16">
                                        <div class="invalid-feedback" *ngIf="formErrors.phoneNumberpersonal">
                                            {{formErrors.phoneNumberpersonal}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Đánh giá</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="comment" tabindex="3">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of evaluationList | async" [value]="item.value">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <span class="w-25" *ngIf="isProspectConfigRate || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('prospect-evaluations')" class="fa fa-pencil-square ic-pencil pointer"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Email</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="email"
                                            [class.is-invalid]="formErrors.email || formErrors.phoneEmailSocial"
                                            tabindex="17">
                                        <div class="invalid-feedback" *ngIf="formErrors.email">
                                            {{formErrors.email}}
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.phoneEmailSocial">
                                            {{formErrors.phoneEmailSocial}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Tên công ty</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.companyName"
                                            formControlName="companyName" tabindex="4">
                                        <div class="invalid-feedback" *ngIf="formErrors.companyName">
                                            {{formErrors.companyName}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Social link</td>
                                    <td class="w-25 label">
                                        <div class="w-75">
                                            <input formControlName="socialLink" [class.is-invalid]="formErrors.socialLink || formErrors.phoneEmailSocial"
                                                class="form-control" tabindex="18">
                                            <div class="invalid-feedback" *ngIf="formErrors.socialLink">
                                                {{formErrors.socialLink}}
                                            </div>
                                            <div class="invalid-feedback" *ngIf="formErrors.phoneEmailSocial">
                                                {{formErrors.phoneEmailSocial}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Nguồn tiềm năng</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="source" tabindex="5">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of prospectSourceList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <span class="w-25" *ngIf="isProspectConfigProspectResource || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('prospectSource')" class="fa fa-pencil-square ic-pencil pointer"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Website</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" formControlName="website"
                                            [class.is-invalid]="formErrors.website" tabindex="19">
                                        <div class="invalid-feedback" *ngIf="formErrors.website">
                                            {{formErrors.website}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Giới tính</td>
                                    <td class="w-25">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="gender" value="Male" class="form-check-input"
                                                    name="gender" tabindex="6">Nam
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" formControlName="gender" value="Female" class="form-check-input"
                                                    name="gender" tabindex="6">Nữ
                                            </label>
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Doanh thu hằng năm</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control text-right" appInputMoney formControlName="revenue"
                                            tabindex="20">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Ngày sinh</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time [readonlyInput]="datePickerConfig.readonlyInput"
                                                [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder"
                                                [locale]="datePickerConfig.vi" [type]="datePickerConfig.calendarType"
                                                formControlName="dob" tabindex="7" (onClose)="onCloseClick()" (onClear)="onClearClick()"
                                                [max]="datePickerConfig.currentDate">
                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label required">Tình trạng</td>
                                    <td class="w-25">
                                        <span *ngIf="isProspectEditPotentialStatus || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin"
                                            class="custom-dropdown w-75">
                                            <select class="form-control" [class.is-invalid]="formErrors.statusSource"
                                                formControlName="statusSource" tabindex="21">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of statusList | async" [value]="item.id">
                                                    {{item.text}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.statusSource">
                                            {{formErrors.statusSource}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Năm sinh âm</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="lunarBirthday" tabindex="8">
                                                <option class="font-weight-bold text-dark mt-2" value="" disabled>
                                                </option>
                                                <option *ngFor="let item of lunarBirthdayList | async" [ngValue]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Ngày phát sinh tiềm năng</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time [readonlyInput]="datePickerConfig.readonlyInput"
                                                [dateFormat]="datePickerConfig.dateFormat" [placeHolder]="datePickerConfig.datePlaceHolder"
                                                tabindex="22" formControlName="date" [locale]="datePickerConfig.vi"
                                                [type]="datePickerConfig.calendarType">
                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Cần xử lý bởi</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="handler" tabindex="9">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of prospectHandlerList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <span class="w-25" *ngIf="isProspectConfigHandler || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('prospect-handler')" class="fa fa-pencil-square ic-pencil pointer"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">CTKM quan tâm</td>
                                    <td class="w-25 text-right label">
                                        <div class=" w-75">
                                            <input class="form-control" [class.is-invalid]="formErrors.promotionCare"
                                                tabindex="23" formControlName="promotionCare">
                                            <div class="invalid-feedback" *ngIf="formErrors.promotionCare">
                                                {{formErrors.promotionCare}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!((employeeGroupList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" formControlName="assignToGroup" tabindex="10"
                                                (change)="assignToGroupChange($event.target.value)">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of employeeGroupList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Ads ID</td>
                                    <td class="w-25 text-right label">
                                        <div class=" w-75">
                                            <input class="form-control" [class.is-invalid]="formErrors.adsID" tabindex="24"
                                                formControlName="adsID">
                                            <div class="invalid-feedback" *ngIf="formErrors.adsID">
                                                {{formErrors.adsID}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Người phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!((employeeList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" formControlName="assignTo" tabindex="11">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of employeeList | async" [ngValue]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Hỏi địa chỉ showroom</td>
                                    <td class="w-25">
                                        <div style="display: flex; justify-content: flex-start; align-items: start">
                                            <input type="checkbox" class="w-25 form-control text-right" tabindex="25"
                                                formControlName="askShowroomAddress">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Retail</td>
                                    <td class="w-25">
                                        <div class=" w-75 autocomplete-wrapper-2 ui-fluid">
                                            <p-autoComplete [suggestions]="retailSearchList" [forceSelection]="true"
                                                [delay]="'400'" tabindex="12" [emptyMessage]="'Không có dữ liệu'"
                                                placeholder="Tìm theo tên" formControlName="retails" [immutable]="true"
                                                (completeMethod)="searchRetail($event.query)" field="text" [multiple]="true">
                                            </p-autoComplete>
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label required">Đã tiếp cận</td>
                                    <td class="w-25">
                                        <div style="display: flex; justify-content: flex-start; align-items: start">
                                            <input *ngIf="isProspectEditApproached || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin"
                                                type="checkbox" class="w-25 form-control text-right" tabindex="26"
                                                formControlName="approached">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Model</td>
                                    <td class="w-25">
                                        <div class=" w-75 autocomplete-wrapper-2 ui-fluid">
                                            <p-autoComplete [suggestions]="modelSearchList" [forceSelection]="true"
                                                [delay]="'400'" tabindex="13" [emptyMessage]="'Không có dữ liệu'"
                                                placeholder="Tìm theo tên" formControlName="models" [immutable]="true"
                                                (completeMethod)="searchModel($event.query)" field="text" [multiple]="true">
                                            </p-autoComplete>
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label required">Cơ hội bán hàng</td>
                                    <td class="w-25">
                                        <div style="display: flex; justify-content: flex-start; align-items: start">
                                            <input *ngIf="isProspectEditSaleOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin"
                                                type="checkbox" class="w-25 form-control text-right" tabindex="27"
                                                formControlName="onlineSaleOpportunity">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">D&B</td>
                                    <td class="w-25">
                                        <div class=" w-75 autocomplete-wrapper-2 ui-fluid d-inline-flex">
                                            <p-autoComplete [suggestions]="dbSearchList" [forceSelection]="true"
                                                [delay]="'400'" tabindex="14" [emptyMessage]="'Không có dữ liệu'"
                                                placeholder="Tìm theo tên" formControlName="dab" [immutable]="true"
                                                (completeMethod)="searchDbs($event.query)" field="text" [multiple]="true">
                                            </p-autoComplete>
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <span class="w-25" *ngIf="isProspectConfigDB || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <i (click)="openModal('prospect-db')" class="fa fa-pencil-square ic-pencil pointer"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label required">Kết quả</td>
                                    <td class="w-25 text-right label">
                                        <div class="w-75" *ngIf="isProspectEditResult || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                            <textarea class="form-control" [class.is-invalid]="formErrors.result"
                                                tabindex="28" formControlName="result"></textarea>
                                            <div class="invalid-feedback" *ngIf="formErrors.result">
                                                {{formErrors.result}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Kênh tiếp cận</td>
                                    <td class="w-25">
                                        <div>
                                            <div class="w-75 d-inline-flex" [class.is-approachChannels-invalid]="formErrors.approachChannels">
                                                <ng-multiselect-dropdown [placeholder]="'--Lựa chọn--'" formControlName="approachChannels"
                                                    [data]="approachChanelList" [settings]="dropdownSettings">
                                                </ng-multiselect-dropdown>
                                            </div>
                                            <span class="w-25" *ngIf="isProspectConfigApproachChannel || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                                                <i (click)="openModal('prospect-approach-channel')" class="fa fa-pencil-square ic-pencil pointer"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.approachChannels">
                                            Bạn cần chọn ít nhất 1 kênh tiếp cận
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label"></td>
                                    <td class="w-25"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress" [attr.aria-expanded]="!isCollapsedAddress"
                        aria-controls="info-address">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết địa chỉ</div>
                    <div class="body" id="info-address" [ngbCollapse]="isCollapsedAddress">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Địa chỉ</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.address"
                                            formControlName="address" tabindex="101">
                                        <div class="invalid-feedback" *ngIf="formErrors.address">
                                            {{formErrors.address}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Tỉnh/Thành phố </td>
                                    <td class="w-25">
                                        <!-- <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.city" formControlName="city" tabindex="22"> -->
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" formControlName="city" tabindex="103" (change)="selectCity($event.target.value)">
                                                <option class="font-weight-bold text-dark mt-2" [ngValue]="null"
                                                    disabled>--Lựa chọn--</option>
                                                <option *ngFor="let item of provinceList" [value]="item.id">
                                                    {{item.name}}</option>
                                            </select>
                                        </span>
                                        <!-- <div class="invalid-feedback" *ngIf="formErrors.city">
                                                {{formErrors.city}}
                                        </div> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Quốc gia</td>
                                    <td class="w-25">
                                        <!-- <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.district" formControlName="district" tabindex="21">
                                        <div class="invalid-feedback" *ngIf="formErrors.district">
                                                {{formErrors.district}}
                                        </div> -->
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" formControlName="country" tabindex="102">
                                                <option class="font-weight-bold text-dark mt-2" [ngValue]="null"
                                                    disabled>--Lựa chọn--</option>
                                                <option value="1">Việt Nam</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Quận/huyện</td>
                                    <td class="w-25">
                                        <!-- <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.country" formControlName="country" tabindex="23">
                                        <div class="invalid-feedback" *ngIf="formErrors.country">
                                                {{formErrors.country}}
                                        </div> -->
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" formControlName="district" tabindex="104">
                                                <option class="font-weight-bold text-dark mt-2" [ngValue]="null"
                                                    disabled>--Lựa chọn--</option>
                                                <option *ngFor="let item of selectedProvince?.districts" [value]="item.id">{{item.name}}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
                        aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Mô tả</td>
                                    <td class="w-75">
                                        <textarea class="w-75 form-control" type="text" [class.is-invalid]="formErrors.description"
                                            formControlName="description" tabindex="105"></textarea>
                                        <div class="invalid-feedback" *ngIf="formErrors.description">
                                            {{formErrors.description}}
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>