<div [@routerTransition]>
    <div class="search-box d-flex">
        <h5 *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="mr-auto d-flex align-items-end">Danh sách cơ hội</h5>
        <div *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="input-group">
            <span class="input-group-addon">Tìm kiếm theo</span>
            <input type="text" class="form-control" placeholder="Tên, khách hàng, liên hệ" [value]="searchTerm$.value"
                (keyup)="searchTerm$.next($event.target.value)">
        </div>
        <div *ngIf="isOpportunityDeleteOpportunity || isOpportunityExportFile || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn-group ml-2" [class.ml-auto]="!isOpportunityViewOpportunityInformation && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin" ngbDropdown>
            <button type="button" class="btn btn-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Công cụ &nbsp;
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a *ngIf="isOpportunityDeleteOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="dropdown-item" (click)="multiDelete()">Xóa</a>
                <div *ngIf="isOpportunityDeleteOpportunity && isOpportunityExportFile || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="dropdown-divider"></div>
                <a *ngIf="isOpportunityExportFile || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="dropdown-item" (click)="exportFileExcel()">Xuất file</a>
            </div>

        </div>
        <button *ngIf="isOpportunityAddOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" [class.ml-auto]="!isOpportunityViewOpportunityInformation && !(isOpportunityDeleteOpportunity || isOpportunityExportFile) && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin" [routerLink]="['/opportunity/create']">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Thêm cơ hội</button>
        <button *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="btn btn-primary ml-2" (click)="refresh(true)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
    </div>
    <hr *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
    <div *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="d-flex justify-content-center align-items-center filter-div mt--3">
        <div class="filter-bar" appSameHeight="col-setting">
            <div class="form-inline align-items-end">
                <div class="form-group flex-column align-items-start">
                    <label for="prospectSource" class="form-label">Phân loại</label>
                    <span class="custom-dropdown">
                        <select class="form-control" [(ngModel)]="filterModel.classify">
                            <option [ngValue]="null">--Lựa chọn--</option>
                            <option *ngFor="let item of opportunityClassifyList | async" [value]="item.id">{{item.text}}
                            </option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2 flex-column align-items-start">
                    <label for="business" class="form-label">Nguồn cơ hội</label>
                    <span class="custom-dropdown">
                        <select class="form-control" [(ngModel)]="filterModel.opportunityResourceId">
                            <option [ngValue]="null">--Lựa chọn--</option>
                            <option *ngFor="let item of prospectList | async" [value]="item.id">{{item.text}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2 flex-column align-items-start">
                    <label for="business" class="form-label">Nhóm phụ trách</label>
                    <span class="custom-dropdown">
                        <i *ngIf="!((employeeGroupList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted ui-autocomplete-loader--custom"></i>
                        <select class="form-control" [(ngModel)]="filterModel.assignToGroup" (change)="assignToGroupChange($event.target.value)">
                            <option [value]="null">--Lựa chọn--</option>
                            <option [value]="0">Chưa có nhóm phụ trách</option>
                            <option *ngFor="let item of employeeGroupList | async" [value]="item.id">
                                {{item.text}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2 flex-column align-items-start">
                    <label for="business" class="form-label">Người phụ trách</label>
                    <span class="custom-dropdown">
                        <i *ngIf="!((employeeList | async)?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted ui-autocomplete-loader--custom"></i>
                        <select class="form-control" [(ngModel)]="filterModel.assignTo">
                            <option [ngValue]="null">--Lựa chọn--</option>
                            <option *ngFor="let item of employeeList | async" [value]="item.id">
                                {{item.text}}</option>
                        </select>
                    </span>
                </div>
                <div class="form-group ml-sm-2 flex-column align-items-start">
                    <label for="jobTitle" class="form-label">Giai đoạn</label>
                    <span class="custom-dropdown">
                        <select class="form-control" [(ngModel)]="filterModel.step">
                            <option [ngValue]="null">--Lựa chọn--</option>
                            <option *ngFor="let item of opportunityStepList | async" [value]="item.id">{{item.text}}
                            </option>
                        </select>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary ml-sm-3" (click)="filter()">
                    <i class="fa fa-filter" aria-hidden="true"></i>&nbsp; Lọc
                </button>
                <button class="btn btn-secondary ml-sm-3" (click)="clearFilter()">
                    <i class="fa fa-times"></i>&nbsp; Xóa lọc
                </button>
            </div>
        </div>
        <div class="btn-group col-setting" dropdown #colSetting="bs-dropdown" placement="bottom right"
            [autoClose]="false">
            <div id="button-alignment" dropdownToggle class="dropdown-toggle d-flex btn-col"
                aria-controls="dropdown-alignment">
                <i class="fa fa-cog"></i> Cột <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                aria-labelledby="button-alignment">
                <div class="popup-dynamic-col">
                    <div class="d-flex justify-content-between">
                        <div class="">{{columnSelectedCount}}/{{listColumnSetting?.length}} cột được chọn</div>
                        <div>
                            <span class="span-cursor" (click)="chooseAllColumnSetting(colSetting)">Chọn tất cả</span>
                        </div>
                    </div>
                    <hr>
                    <div class="wrapper">
                        <div class="form-check-inline" *ngFor="let item of listColumnSettingTemp">
                            <div class="d-flex">
                                <div class="relative">
                                    <input type="checkbox" [(ngModel)]="!item.hidden" class="pointer buttont">
                                    <div class="pointer absolute" (click)="item.hidden = !item.hidden">
                                        &nbsp;{{item.fieldCaption}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <div class="center-parent w-100 h-100">
                                    <div>
                                        <span class="span-cursor" (click)="setColumnSetting(colSetting, true)">Trở về
                                            mặc
                                            định</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-1">
                                <button class="btn btn-secondary" (click)="sethuy(colSetting)">Hủy</button>
                            </div>
                            <div class="p-1 pr-0">
                                <button class="btn btn-primary" (click)="setColumnSetting(colSetting)">Áp dụng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="b-pin-col-wrapper">
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="b-pin-col-scroller" id="wrap1" #wrap1 (scroll)="syncScroll1()">
            <table class="b-pin-col-table table" #tablePin>
                <thead>
                    <tr>
                        <th class="text-center b-pin-col-sticky-col th-stt-pad">
                            <div class="d-flex justify-content-around align-items-center h-100">
                                <span>
                                    <label class="custom-control custom-checkbox stt-checkbox--mar">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]=checkboxSeclectAll
                                            (change)="onSelectAll($event.target.checked)">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </span>
                                <span>STT</span>
                            </div>
                        </th>
                        <th [class.d-none]="getColumnShow('AROpportunityProposals')">Mã báo giá</th>
                        <th [class.d-none]="getColumnShow('AROpportunityName')">Tên cơ hội</th>
                        <th [class.d-none]="getColumnShow('ARCustomers')">Tiềm năng/Khách hàng</th>
                        <th [class.d-none]="getColumnShow('ARCustomerPhone')">Số điện thoại</th>
                        <th [class.d-none]="getColumnShow('ARCustomerContacts')">Liên hệ</th>
                        <th [class.d-none]="getColumnShow('ARCampaignID')">Chiến dịch</th>
                        <th [class.d-none]="getColumnShow('AROpportunityClassify')">Phân loại</th>
                        <th [class.d-none]="getColumnShow('AROpportunityExpectedValue')">Giá trị dự kiến</th>
                        <th [class.d-none]="getColumnShow('AROpportunityCompletionDate')">Ngày dự kiến xong</th>
                        <th [class.d-none]="getColumnShow('AROpportunityStep')">Giai đoạn</th>
                        <th [class.d-none]="getColumnShow('AROpportunityProbability')">Xác suất</th>
                        <th [class.d-none]="getColumnShow('FK_ARCustomerResourceID')">Nguồn cơ hội</th>
                        <th [class.d-none]="getColumnShow('AROpportunityModels')">Model</th>
                        <th [class.d-none]="getColumnShow('FK_HREmployeeID')">Người phụ trách</th>
                        <th [class.d-none]="getColumnShow('FK_HRGroupID')">Nhóm phụ trách</th>
                        <th [class.d-none]="getColumnShow('AROpportunityDescription')">Mô tả</th>
                        
                        <th class="table-action b-pin-col-sticky-col-right text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResult.items; let i = index" appRowHover>
                        <td class="text-center b-pin-col-sticky-col td-stt--pad">
                            <div class="d-flex justify-content-around align-items-center h-100">
                                <span>
                                    <label class="custom-control custom-checkbox stt-checkbox--mar">
                                        <input type="checkbox" class="custom-control-input"
                                            [(ngModel)]="item.checkboxSelected">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </span>
                                <span class="ml-2">
                                    {{i + pagedResult.currentPage * pagedResult.pageSize + 1}}
                                </span>
                            </div>
                        </td>
                        <td [class.d-none]="getColumnShow('AROpportunityProposals')">
                            {{ item.proposals || 'Không có' }}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityName')">
                            <a [routerLink]="isEyeVisible || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin ? ['../detail', item.id, 'spec'] : []"
                                [title]="item.opportunityName">{{ item.opportunityName }}</a>
                        </td>
                        <td [class.d-none]="getColumnShow('ARCustomers')"
                            [title]="item.customerName ? item.customerName : ''">
                            <a *ngIf="item.customerObj || item.prospectCustomerObj"
                                [routerLink]="item.customerName ? ['/customer/detail', item.customerObj.id] : ['/prospect/detail', item.prospectCustomerObj.id, 'spec']">{{ item.customerName ? item.customerName : item.customerProspectName }}</a>
                            <span *ngIf="!item.customerObj && !item.prospectCustomerObj">Không có</span>
                        </td>
                        <td [class.d-none]="getColumnShow('ARCustomerPhone')" [title]="item.tel1 ? item.tel1 : ''">
                            {{item.tel1 || 'Không có' }}</td>
                        <td [class.d-none]="getColumnShow('ARCustomerContacts')" [title]="item.contact">
                            {{item.contact || 'Không có' }}</td>
                        <td [class.d-none]="getColumnShow('ARCampaignID')">{{ item.campaignName || 'Không có'}}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityClassify')">
                            {{ (item.category | translate) || 'Không có'  }}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityExpectedValue')" class="text-right">
                            {{ item.expectedValue | vnCurrency  }}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityCompletionDate')">
                            {{(item.completionDate | date:'dd/MM/yyyy') || 'Không có'}}</td>

                        <td [class.d-none]="getColumnShow('AROpportunityStep')">
                            {{ (item.phase | translate) || 'Không có' }}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityProbability')">
                            {{ (item.probability && item.probability + '%') || 'Không có' }} </td>
                        <td [class.d-none]="getColumnShow('FK_ARCustomerResourceID')">
                            {{item.customerResource || 'Không có'}}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityModels')" [title]="item.modelsStr || ''">
                                {{item.modelsStr || 'Không có'}}</td>
                        <td [class.d-none]="getColumnShow('FK_HREmployeeID')" [title]="item.assignTo || ''">
                            {{ item.assignTo || 'Không có'  }}</td>
                        <td [class.d-none]="getColumnShow('FK_HRGroupID')" [title]="item.assignToGroup || ''">
                            {{ item.assignToGroup || 'Không có'  }}</td>
                        <td [class.d-none]="getColumnShow('AROpportunityDescription')">
                            {{ (item.description | translate) || 'Không có' }}</td>
                        
                        <td class="b-pin-col-sticky-col-right">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <a *ngIf="isEyeVisible || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" [routerLink]="['/opportunity/detail', item.id, 'spec']">
                                    <i class="fa fa-eye text-warning" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="isOpportunityEditOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" [routerLink]="['/opportunity/edit', item.id]" class=" text-success ml-3">
                                    <i class="fa fa-pencil  cursor-pointer" aria-hidden="true"> </i>
                                </a>
                                <a *ngIf="isOpportunityDeleteOpportunity || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" (click)="delete(item.id)" class="text-dark ml-3">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                                <span *ngIf="!isEyeVisible && !isOpportunityEditOpportunity && !isOpportunityDeleteOpportunity  && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">Không có</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-3" *ngIf="(pagedResult.items && pagedResult.items.length == 0) && !loading">Không có dữ liệu
            </div>
        </div>
    </div>
    <div *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="scrollbar-fake" id="wrap2" #wrap2 (scroll)="syncScroll2()">
        <div class="scrollbar-fake-content" #fakeScrollBar></div>
    </div>
    <app-pagination *ngIf="isOpportunityViewOpportunityInformation || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" [pagedResult]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.7)" size="medium" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>