<div [@routerTransition] class="mr-5" *ngIf="prospect$ | async as prospect">
    <div class="card-collapse">
        <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
            aria-controls="info-main">
            <i class="fa fa-caret-down mr-3"></i>Chi tiết tiềm năng</div>
        <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
            <table class="w-100 table table-bordered">
                <tbody>
                    <tr>
                        <td class="w-25 bg-light text-right label">Danh xưng</td>
                        <td class="w-25">{{(prospect.name | translate) || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Điện thoại chính</td>
                        <td class="w-25">
                            <span appPhoneNumberCallable
                                *ngIf="prospect.phoneNumberCustomer">{{prospect.phoneNumberCustomer}}</span>
                            <span *ngIf="!prospect.phoneNumberCustomer">Không có</span>
                        </td>

                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Họ và tên</td>
                        <td class="w-25">{{prospect.fullName}}</td>
                        <td class="w-25 bg-light text-right label">Điện thoại di động</td>
                        <td class="w-25">
                            <span appPhoneNumberCallable
                                *ngIf="prospect.phoneNumberpersonal">{{prospect.phoneNumberpersonal}}</span>
                            <span *ngIf="!prospect.phoneNumberpersonal">Không có</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Đánh giá</td>
                        <td class="w-25">
                            {{ prospect.rateText || 'Không có'}}
                        </td>
                        <td class="w-25 bg-light text-right label">Email</td>
                        <td class="w-25">
                            <a [href]="'mailto:' + prospect.email" *ngIf="prospect.email">{{prospect.email}}</a>
                            <span *ngIf="!prospect.email">Không có</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Tên công ty</td>
                        <td class="w-25">{{prospect.companyName || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Social link</td>
                        <td class="w-25">{{prospect.socialLink || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Nguồn tiềm năng</td>
                        <td class="w-25">{{prospect.source?.name || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Website</td>
                        <td class="w-25">
                            <a [href]="'http://' + prospect.website" target="_blank"
                                *ngIf="prospect.website">{{prospect.website}}</a>
                            <span *ngIf="!prospect.website">Không có</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Giới tính</td>
                        <td class="w-25">{{(prospect.gender | translate) || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Doanh thu hàng năm</td>
                        <td class="w-25">{{prospect.revenue ? (prospect.revenue | vnCurrency) : 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Ngày sinh</td>
                        <td class="w-25">{{(prospect.dob | date: 'dd/MM/yyyy') || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Tình trạng</td>
                        <td class="w-25">{{(prospect.statusSource | translate) || 'Không có' }}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Năm sinh âm</td>
                        <td class="w-25">
                            <div class="d-flex" *ngIf="prospect.lunarBirthday">
                                <div class="p-1">
                                    <span class="ml-auto">{{prospect.lunarBirthday}}</span>
                                </div>
                                <div class="p-1"
                                    *ngIf="fengShuisInforModel && fengShuisInforModel.fengShuisGenaralDto && fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements">
                                    -
                                </div>
                                <div class="p-1">
                                    <span
                                        *ngIf="fengShuisInforModel && fengShuisInforModel.fengShuisGenaralDto && fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements">
                                        Mạng
                                        {{fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements}}
                                    </span>
                                </div>
                                <div class="ml-auto" style="cursor: pointer;"
                                    *ngIf="fengShuisInforModel && fengShuisInforModel.fengShuisGenaralDto && fengShuisInforModel.fengShuisGenaralDto.fengShuisGenaralFiveBasicElements">
                                    <i class="fa fa-info-circle fa-2x" (click)="showDialog()"
                                        style="color:#17a2b8; right: 0px;"></i>
                                </div>
                            </div>
                            <span *ngIf="!prospect.lunarBirthday">Không có</span>
                        </td>
                        <td class="w-25 bg-light text-right label">Ngày phát sinh tiềm năng</td>
                        <td class="w-25">{{(prospect.date | date : 'dd/MM/yyyy') || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Cần xử lý bởi</td>
                        <td class="w-25">{{handlerStr || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">CTKM quan tâm</td>
                        <td class="w-25">{{prospect.promotionCare || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                        <td class="w-25">{{prospect.assignToGroup?.name || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Ads ID</td>
                        <td class="w-25">{{prospect.adsID || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Người phụ trách</td>
                        <td class="w-25">{{prospect.assignTo?.name || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Hỏi địa chỉ showroom</td>
                        <td class="w-25">{{prospect.askShowroomAddress ? 'Có' : 'Không'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Retail</td>
                        <td class="w-25">{{prospect.retailsStr || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Đã tiếp cận</td>
                        <td class="w-25">{{prospect.approached ? 'Đã tiếp cận' : 'Chưa tiếp cận'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Model</td>
                        <td class="w-25">{{prospect.modelsStr || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Cơ hội bán hàng</td>
                        <td class="w-25">{{prospect.onlineSaleOpportunity ? 'Có' : 'Không'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">D&B</td>
                        <td class="w-25">{{prospect.dabStr || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Kết quả</td>
                        <td class="w-25">{{prospect.result || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Kênh tiếp cận</td>
                        <td class="w-25">{{prospect.approachChannelStr || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Thời gian tạo </td>
                        <td class="w-25">{{prospect.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                    <tr *ngIf="prospect.updatedDate != prospect.createdDate">
                        <td class="w-25 bg-light text-right label"></td>
                        <td class="w-25"></td>
                        <td class="w-25 bg-light text-right label">Thời gian sửa đổi</td>
                        <td class="w-25">{{prospect.updatedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="card-collapse">
        <div class="header" (click)="isCollapsedAddress = !isCollapsedAddress"
            [attr.aria-expanded]="!isCollapsedAddress" aria-controls="info-address">
            <i class="fa fa-caret-down mr-3"></i>Chi tiết địa chỉ</div>
        <div class="body" id="info-address" [ngbCollapse]="isCollapsedAddress">
            <table class="w-100 table table-bordered">
                <tbody>
                    <tr>
                        <td class="w-25 bg-light text-right label">Địa chỉ</td>
                        <td class="w-25">{{prospect.address || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Tỉnh/Thành phố </td>
                        <td class="w-25">{{getLocation(prospect.location, 'StateProvince') || 'Không có'}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 bg-light text-right label">Quốc gia</td>
                        <td class="w-25">{{getLocation(prospect.location, 'Country') || 'Không có'}}</td>
                        <td class="w-25 bg-light text-right label">Quận/huyện</td>
                        <td class="w-25">{{getLocation(prospect.location, 'District') || 'Không có'}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="card-collapse">
        <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
            aria-controls="info-desc">
            <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
        <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
            <table class="w-100 table table-bordered">
                <tbody>
                    <tr>
                        <td class="w-25 bg-light text-right label">Mô tả</td>
                        <td class="w-75">{{prospect.description || 'Không có'}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>