$primary: #17a2b8;
$topnav-background-color: $primary;
.navbar {
    background-color: $topnav-background-color;
    color: #fff;
    .navbar-brand {
        color: #fff;
        width: 186px;
        font-size: 200%;
    }
    .navbar-collapse {
        // font-size: 0.9rem;
    }
    .nav-item>a {
        color: #c3c3c3;
        &:hover {
            color: #fff;
        }
    }
    .router-link-active {
        color: #fff !important;
    }
    .notification {
        .dropdown-menu {
            width: 400px;
        }
        .main-badge {
            position: absolute;
            top: 0px;
            border-radius: 15px;
            right: 10px;
            line-height: inherit;
        }
        .last {
            white-space: initial;
        }
    }
}

$topnav-background-color: lightgray;
:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #000;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    h1 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 50px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
        color: #28b2c8;
    }
}

.branch-item {
    border: 7px solid #b0e2e9;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    display: block;
    .fa {
        font-size: 700%;
        color: #fd771e;
    }
    &.all {
        .fa {
            color: #13a1bb;
        }
    }
}

.branch-name{
    min-height: 40px;
    font-size: 120%
}

.footer{
    position: absolute;
    bottom: 10px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;     
}
