.page-link {
    border: none;
    padding: 0.2rem 0.5rem !important;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}

.current {
    background-color: #17a2b8 !important;
    border-radius: 5px !important;
    background: #17a2b8 !important;
    color: #fff !important;
}

select {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}