<div class="card">
    <div class="card-body">
        <div class="d-flex eventOrTask">
            <h5 class="mr-auto d-flex align-items-end">Các hoạt động</h5>
            <div ngbDropdown *ngIf="isActivityAddActivityEvent || isActivityAddActivityWork || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
                <button *ngIf="!readOnly" class="btn btn-primary" ngbDropdownToggle>Thêm vào &nbsp;</button>
                <div ngbDropdownMenu>
                    <button *ngIf="isActivityAddActivityEvent || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="dropdown-item" (click)="gotoCreateEventPage()">Sự kiện</button>
                    <button *ngIf="isActivityAddActivityWork || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin" class="dropdown-item" (click)="gotoCreateTaskPage()">Công việc</button>
                </div>
            </div>
        </div>

        <hr>
        <div *ngIf="viewActivities || groupRole == userGroupRole.SuperAdmin || groupRole == userGroupRole.Admin">
            <div *ngIf="activities?.length; else emptyActivity">
                <div *ngFor="let activity of activities">
                    <div class="d-flex">
                        <p class="mr-auto">
                            <strong>{{activity.startDate | date: 'dd/MM/yyyy, HH:mm'}}</strong>
                        </p>
                        <span>{{activity.status | translate}}</span>
                    </div>
                    <p>
                        <span *ngIf="activity.eventType">{{activity.eventTypeStr}} -</span>
                        <a [routerLink]="activity.activityType=='Event' 
                        ? ['/activity/event/detail', activity.id] 
                        : ['/activity/task/detail', activity.id]" [class.type-task]='activity.activityType == "Work"' [class.type-event]='activity.activityType == "Event"'>
                            {{activity.name}}
                        </a>
                    </p>
                    <hr>
                </div>
                <div class="activityButton">
                    <a [routerLink]="['./../activity']">Xem tất cả</a>
    
                </div>
            </div>
            <div *ngIf="!viewActivities && groupRole != userGroupRole.SuperAdmin && groupRole != userGroupRole.Admin">
                <p class="text-center">Bạn không có quyền xem dữ liệu này</p>
            </div>
        </div>
    </div>

</div>

<ng-template #emptyActivity>
    <div class="text-center">
        Không có hoạt động nào đang chờ giải quyết!
    </div>
</ng-template>
