<div [class.hide-popup]="hidePopup" class="light">
<div class="modal-header">
    <h4 class="modal-title">Chuyển đổi tiềm năng: {{prospect.lastName + ' ' + prospect.firstName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="convertProspectForm" novalidate>
    <div class="modal-body">

        <app-validation-summary [validationMessages]="validationMessages"></app-validation-summary>
        <div class="card-collapse">
            <div class="header d-flex flex-row align-items-center">
                <label class="custom-control custom-checkbox d-block mb-0 mr-1">
                    <input type="checkbox" class="custom-control-input" formControlName="isNewCustomer">
                    <span class="custom-control-indicator"></span>
                </label>

                <span class="mr-auto cursor-pointer" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                    aria-controls="info-main">Tạo mới khách hàng</span>

                <i class="fa fa-chevron-down "></i>
            </div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 border-right-2 bg-light text-right label required">Tên khách hàng</td>
                            <td class="w-75">
                                <input class="w-75 form-control" type="text" formControlName="customerName" [class.is-invalid]="formErrors.customerName">
                                <div class="invalid-feedback" *ngIf="formErrors.customerName">
                                    {{formErrors.customerName}}
                                </div>
                                <!-- <div class="invalid-feedback" *ngIf="checkName === 1">
                                    Tên khách hàng trùng với tên một khách hàng khác!
                                </div> -->
                            </td>
                        </tr>
                        <tr>

                            <td class="w-25 bg-light text-right label">Ngành nghề</td>
                            <td class="w-25">
                                <span class="custom-dropdown w-75 ">
                                    <select class="form-control" formControlName="customerBusiness">
                                        <option [ngValue]="null">--Lựa chọn--</option>
                                        <option *ngFor="let item of businessList | async" [value]="item.id">{{item.text}}</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="header d-flex flex-row align-items-center">
                <label class="custom-control custom-checkbox d-block mb-0 mr-1">
                    <input type="checkbox" class="custom-control-input" formControlName="isNewContact">
                    <span class="custom-control-indicator"></span>
                </label>

                <span class="mr-auto  cursor-pointer" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="info-main">Tạo mới liên hệ</span>

                <i class="fa fa-chevron-down "></i>
            </div>
            <div class="body" id="info-main" [ngbCollapse]="isCollapsed2">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label">Danh xưng</td>
                            <td class="w-75">
                                <span class="custom-dropdown w-75 ">
                                    <select class="form-control" formControlName="contactSalutation">
                                        <option [ngValue]="null">--Lựa chọn--</option>
                                        <option *ngFor="let item of salutationList | async" [value]="item.id">{{item.text}}</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label required">Họ</td>
                            <td class="w-25">
                                <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.contactLastName" formControlName="contactLastName">
                                <div class="invalid-feedback" *ngIf="formErrors.contactLastName">
                                    {{formErrors.contactLastName}}
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label required">Tên</td>
                            <td class="w-25">
                                <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.contactFirstName" formControlName="contactFirstName">
                                <div class="invalid-feedback" *ngIf="formErrors.contactFirstName">
                                    {{formErrors.contactFirstName}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25 bg-light text-right label">Email</td>
                            <td class="w-25">
                                <input class="w-75 form-control" type="text" [class.is-invalid]="formErrors.contactEmail" formControlName="contactEmail">
                                <div class="invalid-feedback" *ngIf="formErrors.contactEmail">
                                    {{formErrors.contactEmail}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card-collapse">
            <div class="body">
                <table class="w-100 table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 bg-light text-right label required">Phân công cho</td>
                            <td class="w-75">
                                <span class="custom-dropdown w-75 ">
                                    <select class="form-control" formControlName="assignTo">
                                            <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhân viên</option>
                                            <option *ngFor="let item of employeeList | async" [ngValue]="'employee_' + item.id">{{item.text}}</option>
                                            <option class="font-weight-bold text-dark mt-2" value="" disabled>Nhóm</option>
                                            <option *ngFor="let item of employeeGroupList | async" [ngValue]="'group_' + item.id">{{item.text}}</option>
                                    </select>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</form>



<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitForm()">Lưu</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Hủy</button>
</div>
</div>