<kendo-window title="Call Center" *ngIf="opened"  [width]="500" (close)="close2()">
    <div class="row">
        <div class="col-md-2 col-sx-2" style="text-align: center;">
            <img src="assets/images/call-center.png" width="60" height="60" alt="">
        </div>
        <div class="col-md-10 col-sx-10">
            <p style="text-align: center;" class="font-weight-bold">0{{phoneNumber}}</p>
            <p style="text-align: center;"><em>{{title}}...</em></p>
        </div>
    </div>
    <div>
        <div *ngIf="customers.length && contacts.length">
            <app-contact-customer [phoneNumber]="phoneNumber" [customers]="customers" [contacts]="contacts"></app-contact-customer>
        </div>
        <div *ngIf="contacts.length && !customers.length">
            <app-contact-call [phoneNumber]="phoneNumber" [contacts]="contacts"></app-contact-call>
        </div>
        <div *ngIf="!contacts.length && customers.length">
            <app-customer-call [phoneNumber]="phoneNumber" [customers]="customers"></app-customer-call>
        </div>
        <div *ngIf="!contacts.length && !customers.length && prospects.length">
            <app-prospect-call [phoneNumber]="phoneNumber" [prospects]="prospects"></app-prospect-call>
        </div>
        <div *ngIf="!contacts.length && !customers.length && !prospects.length">
            <app-anonymous [phoneNumber]="phoneNumber"></app-anonymous>
        </div>
    </div>
</kendo-window>
