<div>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="search-box d-flex">

            <div class="media mr-auto">
                <div class="media-header">
                    <a [routerLink]='["/activity"]'>
                        <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
                    </a>
                    <i class="fa fa-tasks mr-2" aria-hidden="true"></i>
                    <h4 class="d-inline mb-0 text-dark text-bold">{{ task.id > 0 ? 'Chỉnh sửa công việc' : 'Tạo mới
                        công việc'}}</h4>
                </div>

            </div>

            <div class="action-bar">
                <button class="btn btn-primary ml-2" tabindex="11">Lưu &nbsp;

                </button>
                <button class="btn btn-secondary ml-2" tabindex="12" [routerLink]="['/activity']">Hủy &nbsp;
                </button>
            </div>

        </div>
        <hr>
        <div class="d-flex">
            <div class="w-100  mr-auto">
                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedMain = !isCollapsedMain" [attr.aria-expanded]="!isCollapsedMain"
                        aria-controls="info-main">
                        <i class="fa fa-caret-down mr-3"></i>Chi tiết công việc</div>
                    <div class="body" id="info-main" [ngbCollapse]="isCollapsedMain">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Tiêu đề công việc</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" autofocus tabindex="1" type="text"
                                            [class.is-invalid]="formErrors.name" formControlName="name">
                                        <div class="invalid-feedback" *ngIf="formErrors.name">
                                            {{formErrors.name}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label required">Trạng thái</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75">
                                            <select class="form-control" tabindex="6" formControlName="status"
                                                [class.is-invalid]="formErrors.status">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of activityStatusList | async" [value]="item.id">{{item.text
                                                    | translate}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.status">
                                            {{formErrors.status}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Nhóm phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!(employeeGroupList?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" [class.is-invalid]="formErrors.assignTo" tabindex="2" formControlName="assignToGroup" (change)="assignToGroupChange($event.target.value)">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of employeeGroupList" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.assignTo">
                                            {{formErrors.assignTo}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label">Vị trí</td>
                                    <td class="w-25">
                                        <input class="w-75 form-control" tabindex="7" [class.is-invalid]="formErrors.address" type="text" formControlName="address">
                                        <div class="invalid-feedback" *ngIf="formErrors.address">
                                            {{formErrors.address}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Người phụ trách</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <i *ngIf="!(employeeList?.length > 0)" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw ng-star-inserted mr-5"></i>
                                            <select class="form-control" [class.is-invalid]="formErrors.assignTo" tabindex="2" formControlName="assignTo">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of employeeList" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                        <div class="invalid-feedback" *ngIf="formErrors.assignTo">
                                            {{formErrors.assignTo}}
                                        </div>
                                    </td>
                                    
                                    <td class="w-25 bg-light text-right label">Liên quan đến loại</td>
                                    <td class="w-25">
                                        <span class="custom-dropdown w-75 ">
                                            <select class="form-control" tabindex="8" formControlName="relatedToType"
                                                (change)="onRelatedToTypeChange()">
                                                <option [ngValue]="null">--Lựa chọn--</option>
                                                <option *ngFor="let item of activityTypeList | async" [value]="item.id">{{item.text}}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Ngày giờ bắt đầu</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <!-- <my-date-picker name="startDate" [options]="datePickerConfig" [locale]="'vi'" formControlName="startDate"></my-date-picker> -->
                                            <owl-date-time #startDate [readonlyInput]="datePickerConfig.readonlyInput"
                                                [inputStyleClass]="formErrors.startDate ? 'is-invalid' : ''"
                                                formControlName="startDate" [dateFormat]="datePickerConfig.datetimeFormat"
                                                [placeHolder]="datePickerConfig.placeHolder" [locale]="datePickerConfig.vi"
                                                [max]="endDate.value" [tabIndex]="'3'">
                                            </owl-date-time>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.startDate">
                                            {{formErrors.startDate}}
                                        </div>
                                    </td>
                                    
                                    <td class="w-25 bg-light text-right label">Cụ thể liên quan</td>
                                    <td class="w-25">
                                        <div class=" w-75 autocomplete-wrapper">
                                            <p-autoComplete formControlName="specificRelated" [suggestions]="searchResults"
                                                [forceSelection]="true" [delay]="'400'" [emptyMessage]="'Không có dữ liệu'"
                                                placeholder="Tìm theo tên" [immutable]="true" (onSelect)="onSelectSpecificRelated($event)"
                                                (completeMethod)="search($event.query)" inputStyleClass="text-truncate" [tabindex]="'9'" field="text"
                                                dataKey="id">
                                            </p-autoComplete>
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25 bg-light text-right label required">Ngày giờ kết thúc</td>
                                    <td class="w-25">
                                        <div class="input-group w-75">
                                            <owl-date-time #endDate [readonlyInput]="datePickerConfig.readonlyInput"
                                                [inputStyleClass]="formErrors.endDate ? 'is-invalid' : ''"
                                                formControlName="endDate" [dateFormat]="datePickerConfig.datetimeFormat"
                                                [placeHolder]="datePickerConfig.placeHolder" [locale]="datePickerConfig.vi"
                                                [min]="startDate.value" [tabIndex]="'4'">
                                            </owl-date-time>

                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="formErrors.endDate">
                                            {{formErrors.endDate}}
                                        </div>
                                    </td>
                                    <td class="w-25 bg-light text-right label ">Cá nhân</td>
                                    <td class="w-25">
                                        <div class="d-flex justify-content-start align-items-start">
                                            <input tabindex="5" type="checkbox" formControlName="isShare">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-collapse">
                    <div class="header" (click)="isCollapsedDesc = !isCollapsedDesc" [attr.aria-expanded]="!isCollapsedDesc"
                        aria-controls="info-desc">
                        <i class="fa fa-caret-down mr-3"></i>Mô tả chi tiết</div>
                    <div class="body" id="info-desc" [ngbCollapse]="isCollapsedDesc">
                        <table class="w-100 table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="w-25 bg-light text-right label">Mô tả</td>
                                    <td class="w-75">
                                        <textarea class="w-75 form-control" tabindex="10" [class.is-invalid]="formErrors.description" type="text" formControlName="description"></textarea>
                                        <div class="invalid-feedback" *ngIf="formErrors.description">
                                            {{formErrors.description}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>