

    <div class="modal-header">
      <h4 class="modal-title">THAY ĐỔI MẬT KHẨU</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
    <div class="panel">

      <form role="form" class="modal-body" [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
        <!-- <app-list-errors [errorCode]="apiErrorCode"></app-list-errors>           -->
        <div class="form-content password">
          <div class=" text-left form-group mb-0">
            <label for="name" class="required">Mật khẩu cũ</label>
            <input type="password" class="form-control" [class.is-invalid]="formErrors.oldPassword" formControlName="oldPassword">
            <div class="invalid-feedback">
              {{formErrors.oldPassword}}
            </div>
          </div>
          <div class=" text-left form-group mb-0">
            <label for="name" class="required">Mật khẩu mới</label>
            <input type="password" class="form-control" [class.is-invalid]="formErrors.newPassword" formControlName="newPassword">
            <div class="invalid-feedback">
              {{formErrors.newPassword}}
            </div>
          </div>
          <div class=" text-left form-group mb-0">
            <label for="name" class="required">Nhập lại mật khẩu mới</label>
            <input type="password" class="form-control" [class.is-invalid]="formErrors.confirmPassword" formControlName="confirmPassword">
            <div class="invalid-feedback">
              {{formErrors.confirmPassword}}
            </div>
          </div>
        </div>
      </form>
 </div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submitForm()">Cập nhật</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Hủy</button>
</div>
