$topnav-background-color: lightgray;
$color: rgba(255, 255, 255, 0.6);
:host {
    display: block;
}
.reset-password-page {
   // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  //  overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #000;
    padding: 3em;
    
    .col-lg-2 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    h1 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 50px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
        color: #28b2c8;

    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: $color;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: $color ;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: $color;
        }

        input:-ms-input-placeholder {
            color: $color ;
        }
    }
    form {
        padding: 30px 30px;
        background-color: #fff;
        border-radius: 5px;
    }
}


.header{
    margin-top: 2%;
    font-weight: bold;
    font-size: 150%;
}
.panel{
    // width: 430px;
    .col-lg-2 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    h1 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 50px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
        color: #28b2c8;

    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: $color;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: $color ;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: $color;
        }

        input:-ms-input-placeholder {
            color: $color ;
        }
    }
    form {
        padding: 30px 30px;
        background-color: #fff;
        border-radius: 5px;
    }
}
.password{
    label{
        //font-weight: bold;
       
    }
}
.notice{
    color: #9c9c9c;
    margin: 0 0 20px 0;
}