.action-bar{
    vertical-align: middle;
}
.color{
    cursor: pointer;
    a{
     color: #19a3b9;
    } 
    a:hover{
        color:#478993;
    }
 }
 .checkbox{
     outline-color: none !important;
 }
 .checkbox:hover{
    border-color: none!important;
 }