<nav class="sidebar-menu">
    <ul class="list-group mt-3">

        <a [routerLink]="['./spec']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; -->
            Chi tiết
        </a>
        <a [routerLink]="['./comment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-edit"></i>&nbsp; -->
            Bình luận
        </a>
        <a [routerLink]="['./audit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <!-- <i class="fa fa-fw fa-edit"></i>&nbsp; -->
            Các cập nhật
        </a>


    </ul>
</nav>