<div class="reset-password-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="panel">

      <h1 class="pb-3">Mộc Hòa Bình CRM</h1>
      <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
          <app-list-errors [errorCode]="apiErrorCode"></app-list-errors>          
        <div class="header">
          <h3 class="font-weight-bold">ĐẶT LẠI MẬT KHẨU</h3>
        </div>
        <div class="notice">
          <label class="mb-0">Vui lòng nhập mật khẩu mới</label>
          <br>
          <label class="mb-0">(Mật khẩu mới có ít nhất 6 kí tự)</label>
        </div>

        <div class="form-content password">
          <div class=" text-left form-group mb-0">
            <label for="name" class="required">Mật khẩu mới</label>
            <input  id="newpassword"  type="password" class="form-control" [class.is-invalid]="formErrors.newPassword" formControlName="newPassword">
            <div class="invalid-feedback"  *ngIf="formErrors.newPassword">
                {{ formErrors.newPassword }}
            </div>
          </div>
          <div class=" text-left form-group mb-0">
            <label for="name" class="required">Nhập lại mật khẩu mới</label>
            <input  id="confirmPassword" type="password" class="form-control" [class.is-invalid]="formErrors.confirmPassword" formControlName="confirmPassword">
            <div class="invalid-feedback">
                {{ formErrors.confirmPassword }}
            </div>
          </div>
        </div>
        <div class="footer">
          <button type="submit" class="btn btn-primary w-100 mt-4 text-uppercase">ĐỒNG Ý</button>
        </div>
        <a class="btn mt-2" [routerLink]="['/login']">Trở về</a>
      </form>
      
    </div>
  </div>
</div>