:host /deep/ {
    owl-date-time {
        max-width: 7rem;
    }

    // .b-pin-col-wrapper {
    //     max-height: calc(100vh - 265px);
    // }
}

.status-1 {
    background-color: #FE80AB;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-2 {
    background-color: #1d96df;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.status-3 {
    background-color: #a1a1a1;
    padding: 4px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 2000px) {
    table.dataTable {
        th,
        td {
            max-width: 120!important;
        }
    }
}

@media only screen and (max-width: 1600px) {
    table.dataTable {
        th,
        td {
            max-width: 110px;
        }
    }
}

@media only screen and (max-width: 1366px) {
    table.dataTable {
        th,
        td {
            max-width: 80px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    table.dataTable {
        th,
        td {
            max-width: 60px;
        }
    }
    .filter-bar {
        zoom: 0.75;
        .form-control {
            width: 125px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .filter-bar{
        zoom: 0.75;
    }
    table.dataTable {
        th,
        td {
            max-width: 40px;
        }
    }
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

a{
    cursor: pointer;
}
.filter-bar {
    width: calc(100% - 80px);
    label {
        font-size: .65rem;
        padding-bottom: .25rem;
        padding-top: .5rem;
    }
    padding: 0 1rem;
    padding-bottom: .5rem;
    margin-bottom: 0.75rem !important;
}
.col-setting {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafbfc;
    padding: 1.1rem 1rem;
    margin: 1rem 0;
    margin-left: 0.5rem;
    margin-bottom: 0.75rem !important;
    border: 1px solid #ededee;
}

.popup-dynamic-col {
    padding: 10px 20px 0 20px;
    min-width: 700px;
    min-height: 285px;

    .wrapper {
        height: 130px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        overflow: hide;
        overflow-y: scroll;

        .form-check-label {
            padding: 0;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #d2d2d2;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #d2d2d2;
        }
    }
}

.dropdown-toggle::after {
    content: none;
}

.btn-col {
    cursor: pointer;

    i:first-child {
        color: #625141;
        margin-top: 3px;
        margin-right: 6px;
    }

    i:last-child {
        margin-left: 4px;
        margin-top: 3px;
    }
}

.th-stt-pad{
    padding-left: 1rem;
}

.stt-checkbox--mar{
    margin-left: 0;
    margin-right: 0
}

.td-stt--pad{
    padding-left: 0.4rem;
}
.relative{
    position: relative;
    width: 13rem;
    height: 20px; 
}
.absolute{
    position: absolute;
    padding-left: 0.7rem;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}
.buttont{
    margin-top: 4px;
}
.span-cursor {
    cursor: pointer;
    color: #00a0e3
}

@media only screen and (max-width: 1347px) {
     .display-block{
         display: block;
     }
    .margin-top-3{
        margin-top: 1rem;
    }
}