.search-bar {
    select {
        min-width: 150px;
    }
    .search-bar__title {
        line-height: 32px;
        margin-right: 16px;
    }
}

.card {
    padding: 15px;
}

.border-right {
    border-right: 1px solid lightgray;
}

.link-custom {
    text-decoration: underline;
    color: #17a2b8;
    cursor: pointer;
}