<kendo-window title="Thông tin phiếu giao" [width]="800" *ngIf="isShowDeliveryReceipt" (close)="isShowDeliveryReceipt = false">
    <div class="card form-group">
        <h6>
            <strong>THÔNG TIN KHÁCH HÀNG</strong>
        </h6>
        <div class="row form-group">
            <div class="col-md-4 border-right">
                <p>
                    <strong>Mã khách hàng:</strong> {{currentCustomer.number}}
                </p>
                <p>
                    <strong>Tên khách hàng:</strong> {{currentCustomer.name}}
                </p>
                <p>
                    <strong>Mô tả:</strong> {{currentCustomer.description}}
                </p>
                <p>
                    <strong>Địa chỉ:</strong> {{currentCustomer.address}}
                </p>
            </div>
            <div class="col-md-4 border-right">
                <p>
                    <strong>Loại khách hàng:</strong>  {{currentCustomer.customerType === 'Personal' ? 'Cá nhân' : 'Công ty'}}
                </p>
                <p>
                    <strong>Nhóm khách hàng:</strong>
                </p>
                <p>
                    <strong>Tình trạng:</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Hạn mức tín dụng:</strong> {{currentCustomer.creditLimit | vnCurrency}}
                </p>
                <p>
                    <strong>Công nợ:</strong> {{currentCustomer.owing | vnCurrency}}
                </p>
                <p>
                    <strong>Tín dụng còn lại:</strong> {{currentCustomer.creditLimit - currentCustomer.owing | vnCurrency}}
                </p>
                <p class="text-center" [routerLink]="['/revenue/detail', currentCustomer.id]">
                    Xem công nợ
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <h6>
            <strong>DANH SÁCH PHIẾU GIAO</strong>
        </h6>
        <div class="d-flex search-bar form-group">
            <strong class="search-bar__title">Tìm kiếm theo:</strong>
            <div>
                <label class="form-label">Sản phẩm</label>
                <span class="custom-dropdown mx-sm-4">
                    <select class="form-control">
                        <option [ngValue]="null">--Lựa chọn--</option>
                        <option *ngFor="let p of products" [value]="p.id">{{p.text}}</option>
                    </select>
                </span>
            </div>
            <div>
                <label class="form-label">Tình trạng</label>
                <span class="custom-dropdown mx-sm-4">
                    <select class="form-control">
                        <option [ngValue]="null">--Lựa chọn--</option>
                        <option *ngFor="let i of invoiceStatusList" [value]="i.id">{{i.text}}</option>
                    </select>
                </span>
            </div>
        </div>
        <kendo-grid [groupable]="true" [group]="groups" [data]="gridView" [height]="400">
            <kendo-grid-column headerClass="grid-header-custom" width="115" field="productNo" title="Mã sản phẩm">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="200" field="productDesc" title="Mô tả">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="80" field="Category.CategoryName" title="ĐVT">
                    <ng-template kendoGridCellTemplate>Tấn</ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="80" field="productQty" title="SL">
                    <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.productQty | vnNumber}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="productUnitPrice" title="Đơn giá">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.productUnitPrice | vnNumber}}
                    </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="125" field="transferFeeAmount" title="Phí vận chuyển">
                    <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.transferFeeAmount | vnNumber}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="totalAmount" title="Thành tiền">
                    <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.totalAmount | vnNumber}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="productQtyCancel" title="SL đã hủy">
                    <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.productQtyCancel | vnNumber}}
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="100" field="invoiceStatus" title="Tình trạng">
            </kendo-grid-column>
            <kendo-grid-column headerClass="grid-header-custom" width="130" field="coordinatorReference" title="Mã điều phối">
                    <ng-template kendoGridCellTemplate let-dataItem>
                            <p class="link-custom" (click)="showDetailWindow(dataItem.coordinatorReference)">{{dataItem.coordinatorReference}}</p>
                        </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <app-pagination [pagedResult]="deliveryReceiptPageData" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>
</kendo-window>
<kendo-window title="Tình trạng giao hàng" [width]="500" *ngIf="isShowDeliveryDetail" (close)="isShowDeliveryDetail = false">
    <div class="row form-group">
        <div class="col-md-6">
            <p>
                <strong>Mã điều phối:</strong> {{deliveryDetail.coordinatorNo}}
            </p>
            <p>
                <strong>Người điều phối:</strong> {{deliveryDetail.employeeName}}
            </p>
            <p class="text-nowrap">
                <strong>Phương tiện vận chuyển:</strong> {{deliveryDetail.vehicleNoPlate}}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>Ngày điều phối:</strong> {{deliveryDetail.coordinatorDateStr}}
            </p>
            <p>
                <strong>Tình trạng:</strong> {{deliveryDetail.coordinatorStatus}}
            </p>
        </div>
    </div>
    <kendo-grid [height]="200" [data]="deliveryDetailItems">
        <kendo-grid-column headerClass="grid-header-custom" width="50" field="Id" title="STT">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="120" field="CompanyName" title="Mã sản phẩm">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="80" field="productDesc" title="Mô tả">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="80" title="ĐVT">
                <ng-template kendoGridCellTemplate>Tấn</ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="125" field="productQty" title="SL cần giao">
        </kendo-grid-column>
        <kendo-grid-column headerClass="grid-header-custom" width="80" field="productSerialNo" title="Mã lô">
        </kendo-grid-column>
    </kendo-grid>
</kendo-window>
